In [8]:
import pandas as pd

In [9]:
europe_posts_df= pd.read_csv("cleaned_posts_only_europe.csv")
europe_posts_df

,Unnamed: 0,user_id,post,location
0,36,23,""" A Cruise to Greenland,"" written for the expa...",229
1,0,23,"""A Cruise to Tristan da Cunha Island in the So...",235
2,46,23,"""Ascension Island,"" written for the expatriate...",221
3,37,23,"""Greece's Corinth Canal,"" written for the expa...",270
4,34,23,"""Italy's Amalfi Coast,"" written for the expatr...",279
5,41,23,"""The Guggenheim Museum Bilbao,"" written for th...",262
6,30,23,"""Viewing HMS Bounty</EM> Artifacts on a Day Tr...",260
7,184,111,"[On MTP, England should be divided into its ni...",260
8,25,23,"</body>""<b>Madeira Island, Portugal</b>,"" writ...",231
9,50,23,"<body><p class=""MsoNormal"">""<b>Reunion Island,...",465
10,22,23,"<body><p>""<b>Malta, a Jewel in the Mediterrane...",294
11,11,23,"<P ><SPAN ><BR>""A Day Trip through Portugal's ...",305
12,0,41271,<p>Birthday Trip 2018</p>\n,257
13,10,22488,"<p>Brussels, Belgium - October 2nd, 2012 - If ...",800
14,6,6671,<p>I flew on American Airlines from LAX to MAD...,842
15,8,111,"<p>I have visited Paris several times, includi...",853
16,0,6671,<p>I was invited by the tourism board to visit...,224
17,11,111,<p>November 2018 -- I spent a few days in Amst...,301
18,4,3533,<p>There is a report and a five-minute slidesh...,296
19,2,18005,<p>Thought map-lovers would enjoy this little ...,314
20,6,22488,"<p>Where In the World? Tuesday, July 17, 2012 ...",829
21,9,2701,"A, B, C islands, well that is what the Dutch c...",189
22,10,2701,"A, B, C islands, well that is what the Dutch c...",186
23,11,2701,"A, B, C islands, well that is what the Dutch c...",181
24,61,2297,"After our wedding in early spring, 2002, my ne...",328
25,79,6671,After spending one night in Madrid we flew int...,392
26,209,6671,After visiting friends in Paris France for the...,315
27,1,555,Amsterdam.</P><P>I was very disappointed with ...,301
28,3,31221,An island that is part of Netherlands lies abo...,206
29,0,10510,Andalusia is amazing. ItÂ´s always hotter than ...,832
...,...,...,...,...
326,62,31755,,260
327,63,31755,,804
328,64,31755,,240
329,68,31755,,312
330,69,31755,,832
331,70,31755,,899
332,71,31755,,853
333,73,31755,,304
334,79,31755,,241
335,84,31755,,315
336,87,31755,,213
337,91,31755,,294
338,96,31755,,270
339,102,31755,,775
340,105,31755,,250
341,108,31755,,181
342,109,31755,,179
343,113,31755,,224
344,119,31755,,257
345,120,31755,,322
346,124,31755,,41
347,125,31755,,33
348,1,2297,,896
349,6,2297,,220
350,7,2297,,864
351,12,2297,,270
352,13,2297,,250
353,14,2297,,259
354,1,12216,,906
355,0,30991,,260

In [3]:
good_words =["good","enjoy","enjoyed","love","loved","amazing","like","great","wonderful","nice"]

In [10]:
europe_posts_df.dtypes

Unnamed: 0     int64
user_id        int64
post          object
location       int64
dtype: object

In [11]:
europe_posts_df["post"]=[x.split(" ") for x in europe_posts_df["post"]]
europe_posts_df

,Unnamed: 0,user_id,post,location
0,36,23,"["", A, Cruise, to, Greenland,"", written, for, ...",229
1,0,23,"[""A, Cruise, to, Tristan, da, Cunha, Island, i...",235
2,46,23,"[""Ascension, Island,"", written, for, the, expa...",221
3,37,23,"[""Greece's, Corinth, Canal,"", written, for, th...",270
4,34,23,"[""Italy's, Amalfi, Coast,"", written, for, the,...",279
5,41,23,"[""The, Guggenheim, Museum, Bilbao,"", written, ...",262
6,30,23,"[""Viewing, HMS, Bounty</EM>, Artifacts, on, a,...",260
7,184,111,"[[On, MTP,, England, should, be, divided, into...",260
8,25,23,"[</body>""<b>Madeira, Island,, Portugal</b>,"", ...",231
9,50,23,"[<body><p, class=""MsoNormal"">""<b>Reunion, Isla...",465
10,22,23,"[<body><p>""<b>Malta,, a, Jewel, in, the, Medit...",294
11,11,23,"[<P, ><SPAN, ><BR>""A, Day, Trip, through, Port...",305
12,0,41271,"[<p>Birthday, Trip, 2018</p>\n]",257
13,10,22488,"[<p>Brussels,, Belgium, -, October, 2nd,, 2012...",800
14,6,6671,"[<p>I, flew, on, American, Airlines, from, LAX...",842
15,8,111,"[<p>I, have, visited, Paris, several, times,, ...",853
16,0,6671,"[<p>I, was, invited, by, the, tourism, board, ...",224
17,11,111,"[<p>November, 2018, --, I, spent, a, few, days...",301
18,4,3533,"[<p>There, is, a, report, and, a, five-minute,...",296
19,2,18005,"[<p>Thought, map-lovers, would, enjoy, this, l...",314
20,6,22488,"[<p>Where, In, the, World?, Tuesday,, July, 17...",829
21,9,2701,"[A,, B,, C, islands,, well, that, is, what, th...",189
22,10,2701,"[A,, B,, C, islands,, well, that, is, what, th...",186
23,11,2701,"[A,, B,, C, islands,, well, that, is, what, th...",181
24,61,2297,"[After, our, wedding, in, early, spring,, 2002...",328
25,79,6671,"[After, spending, one, night, in, Madrid, we, ...",392
26,209,6671,"[After, visiting, friends, in, Paris, France, ...",315
27,1,555,"[Amsterdam.</P><P>I, was, very, disappointed, ...",301
28,3,31221,"[An, island, that, is, part, of, Netherlands, ...",206
29,0,10510,"[Andalusia, is, amazing., ItÂ´s, always, hotter...",832
...,...,...,...,...
326,62,31755,"[, ]",260
327,63,31755,"[, ]",804
328,64,31755,"[, ]",240
329,68,31755,"[, ]",312
330,69,31755,"[, ]",832
331,70,31755,"[, ]",899
332,71,31755,"[, ]",853
333,73,31755,"[, ]",304
334,79,31755,"[, ]",241
335,84,31755,"[, ]",315
336,87,31755,"[, ]",213
337,91,31755,"[, ]",294
338,96,31755,"[, ]",270
339,102,31755,"[, ]",775
340,105,31755,"[, ]",250
341,108,31755,"[, ]",181
342,109,31755,"[, ]",179
343,113,31755,"[, ]",224
344,119,31755,"[, ]",257
345,120,31755,"[, ]",322
346,124,31755,"[, ]",41
347,125,31755,"[, ]",33
348,1,2297,"[, ]",896
349,6,2297,"[, ]",220
350,7,2297,"[, ]",864
351,12,2297,"[, ]",270
352,13,2297,"[, ]",250
353,14,2297,"[, ]",259
354,1,12216,"[, ]",906
355,0,30991,"[, ]",260

In [12]:
europe_posts_df["tf"]=[pd.Series(x).isin(good_words).sum() for x in europe_posts_df.post]
europe_posts_df

,Unnamed: 0,user_id,post,location,tf
0,36,23,"["", A, Cruise, to, Greenland,"", written, for, ...",229,0
1,0,23,"[""A, Cruise, to, Tristan, da, Cunha, Island, i...",235,4
2,46,23,"[""Ascension, Island,"", written, for, the, expa...",221,0
3,37,23,"[""Greece's, Corinth, Canal,"", written, for, th...",270,0
4,34,23,"[""Italy's, Amalfi, Coast,"", written, for, the,...",279,1
5,41,23,"[""The, Guggenheim, Museum, Bilbao,"", written, ...",262,0
6,30,23,"[""Viewing, HMS, Bounty</EM>, Artifacts, on, a,...",260,2
7,184,111,"[[On, MTP,, England, should, be, divided, into...",260,0
8,25,23,"[</body>""<b>Madeira, Island,, Portugal</b>,"", ...",231,1
9,50,23,"[<body><p, class=""MsoNormal"">""<b>Reunion, Isla...",465,0
10,22,23,"[<body><p>""<b>Malta,, a, Jewel, in, the, Medit...",294,0
11,11,23,"[<P, ><SPAN, ><BR>""A, Day, Trip, through, Port...",305,0
12,0,41271,"[<p>Birthday, Trip, 2018</p>\n]",257,0
13,10,22488,"[<p>Brussels,, Belgium, -, October, 2nd,, 2012...",800,0
14,6,6671,"[<p>I, flew, on, American, Airlines, from, LAX...",842,9
15,8,111,"[<p>I, have, visited, Paris, several, times,, ...",853,1
16,0,6671,"[<p>I, was, invited, by, the, tourism, board, ...",224,2
17,11,111,"[<p>November, 2018, --, I, spent, a, few, days...",301,1
18,4,3533,"[<p>There, is, a, report, and, a, five-minute,...",296,1
19,2,18005,"[<p>Thought, map-lovers, would, enjoy, this, l...",314,1
20,6,22488,"[<p>Where, In, the, World?, Tuesday,, July, 17...",829,3
21,9,2701,"[A,, B,, C, islands,, well, that, is, what, th...",189,0
22,10,2701,"[A,, B,, C, islands,, well, that, is, what, th...",186,1
23,11,2701,"[A,, B,, C, islands,, well, that, is, what, th...",181,0
24,61,2297,"[After, our, wedding, in, early, spring,, 2002...",328,1
25,79,6671,"[After, spending, one, night, in, Madrid, we, ...",392,2
26,209,6671,"[After, visiting, friends, in, Paris, France, ...",315,3
27,1,555,"[Amsterdam.</P><P>I, was, very, disappointed, ...",301,0
28,3,31221,"[An, island, that, is, part, of, Netherlands, ...",206,0
29,0,10510,"[Andalusia, is, amazing., ItÂ´s, always, hotter...",832,1
...,...,...,...,...,...
326,62,31755,"[, ]",260,0
327,63,31755,"[, ]",804,0
328,64,31755,"[, ]",240,0
329,68,31755,"[, ]",312,0
330,69,31755,"[, ]",832,0
331,70,31755,"[, ]",899,0
332,71,31755,"[, ]",853,0
333,73,31755,"[, ]",304,0
334,79,31755,"[, ]",241,0
335,84,31755,"[, ]",315,0
336,87,31755,"[, ]",213,0
337,91,31755,"[, ]",294,0
338,96,31755,"[, ]",270,0
339,102,31755,"[, ]",775,0
340,105,31755,"[, ]",250,0
341,108,31755,"[, ]",181,0
342,109,31755,"[, ]",179,0
343,113,31755,"[, ]",224,0
344,119,31755,"[, ]",257,0
345,120,31755,"[, ]",322,0
346,124,31755,"[, ]",41,0
347,125,31755,"[, ]",33,0
348,1,2297,"[, ]",896,0
349,6,2297,"[, ]",220,0
350,7,2297,"[, ]",864,0
351,12,2297,"[, ]",270,0
352,13,2297,"[, ]",250,0
353,14,2297,"[, ]",259,0
354,1,12216,"[, ]",906,0
355,0,30991,"[, ]",260,0

In [13]:
europe_post_final_group=europe_posts_df.groupby(by="user_id")
europe_post_final_group

In [14]:
europe_post_final= europe_post_final_group.max()
europe_post_final

,Unnamed: 0,post,location,tf
user_id,,,,
1,10,"[The, Chesterfield, Islands, are, a, remote, i...",569,1
23,50,"[HOW, TO, GET, TO, PITCAIRN, ISLAND:</P><P><!-...",465,4
35,22,"[We, hopped, on, over, to, Sao, Miguel, from, ...",305,4
111,592,"[[On, MTP,, England, should, be, divided, into...",908,1
555,2,"[I, have, been, to, Italy, three, times., Thes...",301,0
1599,0,"[Llivia, is, an, exclave, of, Spain, located, ...",290,0
2297,98,"[On, March, 17,, 2010,, I, visited, Aruba, wit...",896,2
2625,4,"[Drove, through, Italy, when, traveling, from,...",279,0
2701,11,"[Well,, they, say, Iceland, is, green, and, Gr...",229,4
2837,6,"[I, have, been, to, the, Grand, Cayman, twice,...",187,2
3533,5,"[Tromelin, is, the, smallest, of, the, 4, Scat...",469,3
5417,8,"[Tallinn, is, an, interesting, city, but, can,...",305,2
6179,0,"[Karlstejn, Castle, is, just, a, 30, minute, t...",257,1
6243,1,"[Picture, in, front, of, the, Vatican, (August...",279,0
6295,0,"[My, wife, and, I, were, spending, a, couple, ...",292,2
6671,235,"[While, we, were, in, Berlin, we, drove, to, P...",908,9
7992,0,"[The, Czech, republic, is, a, great, city, for...",257,2
8018,5,"[Rome,, the, Eternal, City,, a, center, of, re...",891,4
8070,0,"[Still, my, favorite, beach, on, the, planet,,...",218,1
8196,0,"[The, people, were, wonderful, and, the, beach...",187,1
10510,0,"[Andalusia, is, amazing., ItÂ´s, always, hotter...",832,1
10544,0,"[Highlights:, Lecce, (a, Baroque, confection),...",893,0
11633,24,"[Walking, around, Belfast,, the, sun, would, s...",805,1
11757,0,"[I, went, for, a, friend&apos;s, wedding., If,...",218,1
12216,1,"[, ]",906,0
12762,8,"[My, camino, to, Espana, was, a, phenominal, e...",832,1
12953,0,"[While, staying, with, friends, near, Stuttgar...",248,0
13093,0,"[Flew, into, and, spent, a, couple, days, in, ...",270,0
14140,0,"[I, am, currently, writing, this, blog, from, ...",57,1
14937,0,"[My, ship,, the, MV, Houston,, brought, contai...",221,0
18005,2,"[<p>Thought, map-lovers, would, enjoy, this, l...",314,1
22488,25,"[Bucharest, -, Thursday,, November, 01,, 2007\...",829,3
23057,1,"[Monday, morning,, we, woke, up, and, went, to...",254,23
29123,34,"[, ]",853,0
29468,4,"[January, 4-10,, 2016\r\nSchool, trip, to, Wro...",260,0
30978,0,"[, ]",306,0
30991,0,"[, ]",260,0
31221,3,"[Over, three, times, the, size, of, Texas,, Gr...",229,0
31755,125,"[, ]",906,0
41271,0,"[<p>Birthday, Trip, 2018</p>\n]",257,0

In [15]:
europe_post_final.to_csv("User_posts_only_Europe.csv")
europe_posts_df.to_csv("User_posts_only_Europe_re.csv")