In [45]:
import pandas as pd

In [46]:
europe_posts_df= pd.read_csv("cleaned_posts_only_europe.csv")
europe_posts_df

,Unnamed: 0,user_id,post,location
0,4,3533,<p>There is a report and a five-minute slidesh...,296
1,5,3533,Tromelin is the smallest of the 4 Scattered Is...,469
2,0,1,The Chesterfield Islands are a remote island g...,8
3,4,1,"I arrived unexpectedly to Pitcairn today, due ...",57
4,6,1,Rockall is probably the most difficult island ...,569
5,8,1,"Clipperton Island is a remote, uninhabited and...",10
6,10,1,Market Reef is a tiny island shared between Sw...,296
7,8,111,"<p>I have visited Paris several times, includi...",853
8,11,111,<p>November 2018 -- I spent a few days in Amst...,301
9,50,111,November 2017 -- I made a day trip from Paris ...,861
10,62,111,September 2017 -- I traveled by ferry from Tur...,236
11,83,111,June 2017 -- I spent a few days in Wallis and ...,80
12,87,111,September 2016 -- I based myself in Hildesheim...,810
13,88,111,September 2016 -- While traveling by train fro...,807
14,89,111,September 2016 -- I made a day trip by high sp...,799
15,90,111,September 2016 -- I began my trip in Stralsund...,811
16,91,111,September 2016 -- I visited the Neues Palais (...,806
17,92,111,September 2016 -- I based myself in Lutherstad...,816
18,93,111,"September 2016 -- I visited Leipzig, the large...",815
19,94,111,September 2016 -- I visited several of the con...,818
20,99,111,August 2016 -- I stayed at Hôtel Le Rocher in ...,462
21,120,111,"September 2015 -- I spent three days in Bari, ...",893
22,121,111,September 2015 -- I made a day trip from Bari ...,894
23,122,111,September 2015 -- I spent three nights in Cagl...,309
24,123,111,September 2015 -- I rented a scooter to circum...,286
25,126,111,"May 2015 -- I visited Bratislava, where I rent...",316
26,130,111,"November 2014 -- I began my trip in Mérida, wh...",840
27,131,111,November 2014 -- I made a day trip by ferry (h...,366
28,132,111,November 2014 -- I made a day trip by plane fr...,392
29,133,111,"November 2014 -- I visited Murcia, the capital...",843
...,...,...,...,...
170,0,31221,"Over three times the size of Texas, Greenland ...",229
171,3,31221,An island that is part of Netherlands lies abo...,206
172,1,35,"First of all, I like traveling to any place wh...",305
173,3,35,I was in Copenhagen for a few days in July 199...,258
174,9,35,The Society Islands are 1 of 5 island groups t...,66
175,12,35,My wife and I vistited the BVI during a two we...,220
176,16,35,My wife and I honeymooned in French Polynesia ...,75
177,22,35,We hopped on over to Sao Miguel from Lisbon fo...,222
178,0,14937,"My ship, the MV Houston, brought containerized...",221
179,16,2297,My only trip to Hesse (so far) was a long layo...,809
180,54,2297,"In April, 2002, my new bride, Karen, and I fle...",260
181,57,2297,I visited the Caribbean island nation of Angui...,179
182,59,2297,My wife Karen and I visited the island of Cura...,189
183,61,2297,"After our wedding in early spring, 2002, my ne...",328
184,63,2297,"I visited Bonaire, in the Caribbean Netherland...",186
185,72,2297,"On March 17, 2010, I visited Aruba with my wif...",181
186,90,2297,Karen and I celebrated our honeymoon with a te...,312
187,98,2297,Karen and I traveled to the Cayman Islands twi...,187
188,6,5417,Tallinn is an interesting city but can easily ...,261
189,7,5417,"Lisbon and surroundings (Sintra, Estoril, Casc...",305
190,8,5417,Nice constant breeze so never too hot. Nice be...,181
191,7,2701,"Well, they say Iceland is green and Greenland ...",229
192,9,2701,"A, B, C islands, well that is what the Dutch c...",189
193,10,2701,"A, B, C islands, well that is what the Dutch c...",186
194,11,2701,"A, B, C islands, well that is what the Dutch c...",181
195,0,8070,"Still my favorite beach on the planet, where y...",218
196,2,11633,"Spent a week in Vienna, highlighted by a visit...",240
197,5,11633,"On my day trip to East Berlin in 1988, I visit...",805
198,6,11633,Traveled by train from Vienna to this nice tow...,316
199,24,11633,"Walking around Belfast, the sun would soon dis...",276

In [47]:
good_words =["good","enjoy","enjoyed","love","loved","amazing","like","great","wonderful","nice"]

In [48]:
europe_posts_df.post[0][8]

' '

In [49]:
europe_posts_df["post"]=[x.split(" ") for x in europe_posts_df["post"]]
europe_posts_df

,Unnamed: 0,user_id,post,location
0,4,3533,"[<p>There, is, a, report, and, a, five-minute,...",296
1,5,3533,"[Tromelin, is, the, smallest, of, the, 4, Scat...",469
2,0,1,"[The, Chesterfield, Islands, are, a, remote, i...",8
3,4,1,"[I, arrived, unexpectedly, to, Pitcairn, today...",57
4,6,1,"[Rockall, is, probably, the, most, difficult, ...",569
5,8,1,"[Clipperton, Island, is, a, remote,, uninhabit...",10
6,10,1,"[Market, Reef, is, a, tiny, island, shared, be...",296
7,8,111,"[<p>I, have, visited, Paris, several, times,, ...",853
8,11,111,"[<p>November, 2018, --, I, spent, a, few, days...",301
9,50,111,"[November, 2017, --, I, made, a, day, trip, fr...",861
10,62,111,"[September, 2017, --, I, traveled, by, ferry, ...",236
11,83,111,"[June, 2017, --, I, spent, a, few, days, in, W...",80
12,87,111,"[September, 2016, --, I, based, myself, in, Hi...",810
13,88,111,"[September, 2016, --, While, traveling, by, tr...",807
14,89,111,"[September, 2016, --, I, made, a, day, trip, b...",799
15,90,111,"[September, 2016, --, I, began, my, trip, in, ...",811
16,91,111,"[September, 2016, --, I, visited, the, Neues, ...",806
17,92,111,"[September, 2016, --, I, based, myself, in, Lu...",816
18,93,111,"[September, 2016, --, I, visited, Leipzig,, th...",815
19,94,111,"[September, 2016, --, I, visited, several, of,...",818
20,99,111,"[August, 2016, --, I, stayed, at, Hôtel, Le, R...",462
21,120,111,"[September, 2015, --, I, spent, three, days, i...",893
22,121,111,"[September, 2015, --, I, made, a, day, trip, f...",894
23,122,111,"[September, 2015, --, I, spent, three, nights,...",309
24,123,111,"[September, 2015, --, I, rented, a, scooter, t...",286
25,126,111,"[May, 2015, --, I, visited, Bratislava,, where...",316
26,130,111,"[November, 2014, --, I, began, my, trip, in, M...",840
27,131,111,"[November, 2014, --, I, made, a, day, trip, by...",366
28,132,111,"[November, 2014, --, I, made, a, day, trip, by...",392
29,133,111,"[November, 2014, --, I, visited, Murcia,, the,...",843
...,...,...,...,...
170,0,31221,"[Over, three, times, the, size, of, Texas,, Gr...",229
171,3,31221,"[An, island, that, is, part, of, Netherlands, ...",206
172,1,35,"[First, of, all,, I, like, traveling, to, any,...",305
173,3,35,"[I, was, in, Copenhagen, for, a, few, days, in...",258
174,9,35,"[The, Society, Islands, are, 1, of, 5, island,...",66
175,12,35,"[My, wife, and, I, vistited, the, BVI, during,...",220
176,16,35,"[My, wife, and, I, honeymooned, in, French, Po...",75
177,22,35,"[We, hopped, on, over, to, Sao, Miguel, from, ...",222
178,0,14937,"[My, ship,, the, MV, Houston,, brought, contai...",221
179,16,2297,"[My, only, trip, to, Hesse, (so, far), was, a,...",809
180,54,2297,"[In, April,, 2002,, my, new, bride,, Karen,, a...",260
181,57,2297,"[I, visited, the, Caribbean, island, nation, o...",179
182,59,2297,"[My, wife, Karen, and, I, visited, the, island...",189
183,61,2297,"[After, our, wedding, in, early, spring,, 2002...",328
184,63,2297,"[I, visited, Bonaire,, in, the, Caribbean, Net...",186
185,72,2297,"[On, March, 17,, 2010,, I, visited, Aruba, wit...",181
186,90,2297,"[Karen, and, I, celebrated, our, honeymoon, wi...",312
187,98,2297,"[Karen, and, I, traveled, to, the, Cayman, Isl...",187
188,6,5417,"[Tallinn, is, an, interesting, city, but, can,...",261
189,7,5417,"[Lisbon, and, surroundings, (Sintra,, Estoril,...",305
190,8,5417,"[Nice, constant, breeze, so, never, too, hot.,...",181
191,7,2701,"[Well,, they, say, Iceland, is, green, and, Gr...",229
192,9,2701,"[A,, B,, C, islands,, well, that, is, what, th...",189
193,10,2701,"[A,, B,, C, islands,, well, that, is, what, th...",186
194,11,2701,"[A,, B,, C, islands,, well, that, is, what, th...",181
195,0,8070,"[Still, my, favorite, beach, on, the, planet,,...",218
196,2,11633,"[Spent, a, week, in, Vienna,, highlighted, by,...",240
197,5,11633,"[On, my, day, trip, to, East, Berlin, in, 1988...",805
198,6,11633,"[Traveled, by, train, from, Vienna, to, this, ...",316
199,24,11633,"[Walking, around, Belfast,, the, sun, would, s...",276

In [50]:
europe_posts_df["tf"]=[pd.Series(x).isin(good_words).sum() for x in europe_posts_df.post]
europe_posts_df

,Unnamed: 0,user_id,post,location,tf
0,4,3533,"[<p>There, is, a, report, and, a, five-minute,...",296,1
1,5,3533,"[Tromelin, is, the, smallest, of, the, 4, Scat...",469,3
2,0,1,"[The, Chesterfield, Islands, are, a, remote, i...",8,0
3,4,1,"[I, arrived, unexpectedly, to, Pitcairn, today...",57,0
4,6,1,"[Rockall, is, probably, the, most, difficult, ...",569,1
5,8,1,"[Clipperton, Island, is, a, remote,, uninhabit...",10,0
6,10,1,"[Market, Reef, is, a, tiny, island, shared, be...",296,0
7,8,111,"[<p>I, have, visited, Paris, several, times,, ...",853,1
8,11,111,"[<p>November, 2018, --, I, spent, a, few, days...",301,1
9,50,111,"[November, 2017, --, I, made, a, day, trip, fr...",861,0
10,62,111,"[September, 2017, --, I, traveled, by, ferry, ...",236,0
11,83,111,"[June, 2017, --, I, spent, a, few, days, in, W...",80,1
12,87,111,"[September, 2016, --, I, based, myself, in, Hi...",810,0
13,88,111,"[September, 2016, --, While, traveling, by, tr...",807,0
14,89,111,"[September, 2016, --, I, made, a, day, trip, b...",799,0
15,90,111,"[September, 2016, --, I, began, my, trip, in, ...",811,0
16,91,111,"[September, 2016, --, I, visited, the, Neues, ...",806,0
17,92,111,"[September, 2016, --, I, based, myself, in, Lu...",816,0
18,93,111,"[September, 2016, --, I, visited, Leipzig,, th...",815,1
19,94,111,"[September, 2016, --, I, visited, several, of,...",818,0
20,99,111,"[August, 2016, --, I, stayed, at, Hôtel, Le, R...",462,0
21,120,111,"[September, 2015, --, I, spent, three, days, i...",893,0
22,121,111,"[September, 2015, --, I, made, a, day, trip, f...",894,0
23,122,111,"[September, 2015, --, I, spent, three, nights,...",309,0
24,123,111,"[September, 2015, --, I, rented, a, scooter, t...",286,0
25,126,111,"[May, 2015, --, I, visited, Bratislava,, where...",316,0
26,130,111,"[November, 2014, --, I, began, my, trip, in, M...",840,0
27,131,111,"[November, 2014, --, I, made, a, day, trip, by...",366,0
28,132,111,"[November, 2014, --, I, made, a, day, trip, by...",392,0
29,133,111,"[November, 2014, --, I, visited, Murcia,, the,...",843,0
...,...,...,...,...,...
170,0,31221,"[Over, three, times, the, size, of, Texas,, Gr...",229,0
171,3,31221,"[An, island, that, is, part, of, Netherlands, ...",206,0
172,1,35,"[First, of, all,, I, like, traveling, to, any,...",305,4
173,3,35,"[I, was, in, Copenhagen, for, a, few, days, in...",258,1
174,9,35,"[The, Society, Islands, are, 1, of, 5, island,...",66,2
175,12,35,"[My, wife, and, I, vistited, the, BVI, during,...",220,0
176,16,35,"[My, wife, and, I, honeymooned, in, French, Po...",75,0
177,22,35,"[We, hopped, on, over, to, Sao, Miguel, from, ...",222,3
178,0,14937,"[My, ship,, the, MV, Houston,, brought, contai...",221,0
179,16,2297,"[My, only, trip, to, Hesse, (so, far), was, a,...",809,0
180,54,2297,"[In, April,, 2002,, my, new, bride,, Karen,, a...",260,2
181,57,2297,"[I, visited, the, Caribbean, island, nation, o...",179,1
182,59,2297,"[My, wife, Karen, and, I, visited, the, island...",189,0
183,61,2297,"[After, our, wedding, in, early, spring,, 2002...",328,1
184,63,2297,"[I, visited, Bonaire,, in, the, Caribbean, Net...",186,0
185,72,2297,"[On, March, 17,, 2010,, I, visited, Aruba, wit...",181,0
186,90,2297,"[Karen, and, I, celebrated, our, honeymoon, wi...",312,0
187,98,2297,"[Karen, and, I, traveled, to, the, Cayman, Isl...",187,1
188,6,5417,"[Tallinn, is, an, interesting, city, but, can,...",261,0
189,7,5417,"[Lisbon, and, surroundings, (Sintra,, Estoril,...",305,2
190,8,5417,"[Nice, constant, breeze, so, never, too, hot.,...",181,0
191,7,2701,"[Well,, they, say, Iceland, is, green, and, Gr...",229,4
192,9,2701,"[A,, B,, C, islands,, well, that, is, what, th...",189,0
193,10,2701,"[A,, B,, C, islands,, well, that, is, what, th...",186,1
194,11,2701,"[A,, B,, C, islands,, well, that, is, what, th...",181,0
195,0,8070,"[Still, my, favorite, beach, on, the, planet,,...",218,1
196,2,11633,"[Spent, a, week, in, Vienna,, highlighted, by,...",240,0
197,5,11633,"[On, my, day, trip, to, East, Berlin, in, 1988...",805,0
198,6,11633,"[Traveled, by, train, from, Vienna, to, this, ...",316,1
199,24,11633,"[Walking, around, Belfast,, the, sun, would, s...",276,0

In [51]:
europe_post_final_group=europe_posts_df.groupby(by="user_id")
europe_post_final_group

In [52]:
europe_post_final= europe_post_final_group.max()
europe_post_final

,Unnamed: 0,post,location,tf
user_id,,,,
1,10,"[The, Chesterfield, Islands, are, a, remote, i...",569,1
23,50,"[HOW, TO, GET, TO, PITCAIRN, ISLAND:</P><P><!-...",465,4
35,22,"[We, hopped, on, over, to, Sao, Miguel, from, ...",305,4
111,592,"[[On, MTP,, England, should, be, divided, into...",908,1
2297,98,"[On, March, 17,, 2010,, I, visited, Aruba, wit...",809,2
2701,11,"[Well,, they, say, Iceland, is, green, and, Gr...",229,4
3533,5,"[Tromelin, is, the, smallest, of, the, 4, Scat...",469,3
5417,8,"[Tallinn, is, an, interesting, city, but, can,...",305,2
8018,5,"[Rome,, the, Eternal, City,, a, center, of, re...",891,4
8070,0,"[Still, my, favorite, beach, on, the, planet,,...",218,1
10544,0,"[Highlights:, Lecce, (a, Baroque, confection),...",893,0
11633,24,"[Walking, around, Belfast,, the, sun, would, s...",805,1
14140,0,"[I, am, currently, writing, this, blog, from, ...",57,1
14937,0,"[My, ship,, the, MV, Houston,, brought, contai...",221,0
22488,25,"[Bucharest, -, Thursday,, November, 01,, 2007\...",829,3
31221,3,"[Over, three, times, the, size, of, Texas,, Gr...",229,0

In [53]:
europe_post_final.to_csv("User_posts_only_Europe.csv")