In [8]:
import pandas as pd

In [9]:
only_europe_posts = pd.read_csv("User_posts_only_Europe_re.csv")
only_europe_posts

,Unnamed: 0,Unnamed: 0.1,user_id,post,location,tf
0,0,36,23,"['""', 'A', 'Cruise', 'to', 'Greenland,""', 'wri...",229,0
1,1,0,23,"['""A', 'Cruise', 'to', 'Tristan', 'da', 'Cunha...",235,4
2,2,46,23,"['""Ascension', 'Island,""', 'written', 'for', '...",221,0
3,3,37,23,"['""Greece\'s', 'Corinth', 'Canal,""', 'written'...",270,0
4,4,34,23,"['""Italy\'s', 'Amalfi', 'Coast,""', 'written', ...",279,1
5,5,41,23,"['""The', 'Guggenheim', 'Museum', 'Bilbao,""', '...",262,0
6,6,30,23,"['""Viewing', 'HMS', 'Bounty</EM>', 'Artifacts'...",260,2
7,7,184,111,"['[On', 'MTP,', 'England', 'should', 'be', 'di...",260,0
8,8,25,23,"['</body>""<b>Madeira', 'Island,', 'Portugal</b...",231,1
9,9,50,23,"['<body><p', 'class=""MsoNormal"">""<b>Reunion', ...",465,0
10,10,22,23,"['<body><p>""<b>Malta,', 'a', 'Jewel', 'in', 't...",294,0
11,11,11,23,"['<P', '><SPAN', '><BR>""A', 'Day', 'Trip', 'th...",305,0
12,12,0,41271,"['<p>Birthday', 'Trip', '2018</p>\n']",257,0
13,13,10,22488,"['<p>Brussels,', 'Belgium', '-', 'October', '2...",800,0
14,14,6,6671,"['<p>I', 'flew', 'on', 'American', 'Airlines',...",842,9
15,15,8,111,"['<p>I', 'have', 'visited', 'Paris', 'several'...",853,1
16,16,0,6671,"['<p>I', 'was', 'invited', 'by', 'the', 'touri...",224,2
17,17,11,111,"['<p>November', '2018', '--', 'I', 'spent', 'a...",301,1
18,18,4,3533,"['<p>There', 'is', 'a', 'report', 'and', 'a', ...",296,1
19,19,2,18005,"['<p>Thought', 'map-lovers', 'would', 'enjoy',...",314,1
20,20,6,22488,"['<p>Where', 'In', 'the', 'World?', 'Tuesday,'...",829,3
21,21,9,2701,"['A,', 'B,', 'C', 'islands,', 'well', 'that', ...",189,0
22,22,10,2701,"['A,', 'B,', 'C', 'islands,', 'well', 'that', ...",186,1
23,23,11,2701,"['A,', 'B,', 'C', 'islands,', 'well', 'that', ...",181,0
24,24,61,2297,"['After', 'our', 'wedding', 'in', 'early', 'sp...",328,1
25,25,79,6671,"['After', 'spending', 'one', 'night', 'in', 'M...",392,2
26,26,209,6671,"['After', 'visiting', 'friends', 'in', 'Paris'...",315,3
27,27,1,555,"['Amsterdam.</P><P>I', 'was', 'very', 'disappo...",301,0
28,28,3,31221,"['An', 'island', 'that', 'is', 'part', 'of', '...",206,0
29,29,0,10510,"['Andalusia', 'is', 'amazing.', 'It´s', 'alway...",832,1
...,...,...,...,...,...,...
326,326,62,31755,"['', '']",260,0
327,327,63,31755,"['', '']",804,0
328,328,64,31755,"['', '']",240,0
329,329,68,31755,"['', '']",312,0
330,330,69,31755,"['', '']",832,0
331,331,70,31755,"['', '']",899,0
332,332,71,31755,"['', '']",853,0
333,333,73,31755,"['', '']",304,0
334,334,79,31755,"['', '']",241,0
335,335,84,31755,"['', '']",315,0
336,336,87,31755,"['', '']",213,0
337,337,91,31755,"['', '']",294,0
338,338,96,31755,"['', '']",270,0
339,339,102,31755,"['', '']",775,0
340,340,105,31755,"['', '']",250,0
341,341,108,31755,"['', '']",181,0
342,342,109,31755,"['', '']",179,0
343,343,113,31755,"['', '']",224,0
344,344,119,31755,"['', '']",257,0
345,345,120,31755,"['', '']",322,0
346,346,124,31755,"['', '']",41,0
347,347,125,31755,"['', '']",33,0
348,348,1,2297,"['', '']",896,0
349,349,6,2297,"['', '']",220,0
350,350,7,2297,"['', '']",864,0
351,351,12,2297,"['', '']",270,0
352,352,13,2297,"['', '']",250,0
353,353,14,2297,"['', '']",259,0
354,354,1,12216,"['', '']",906,0
355,355,0,30991,"['', '']",260,0

In [10]:
europe_locations_df = pd.read_csv("Europe_list_locations.csv")
europe_locations_df

,Unnamed: 0,country_id,country_name,location_id,location_name,lat,lon,region_name
0,1,264,France,2,Austral Islands,-23.000000,-150.000000,Pacific Ocean
1,7,264,France,8,Chesterfield Islands,-19.350000,158.666667,Pacific Ocean
2,9,264,France,10,Clipperton Island,10.284842,-109.216250,Pacific Ocean
3,14,976,United Kingdom,15,Ducie Island,-24.680726,-124.787888,Pacific Ocean
4,18,264,France,19,Gambier Islands,-23.109658,-134.974348,Pacific Ocean
5,21,976,United Kingdom,22,Henderson Island,-24.374377,-128.327111,Pacific Ocean
6,32,264,France,33,Loyalty Islands,-21.000000,167.000000,Pacific Ocean
7,33,264,France,34,Marquesas Islands,-9.781216,-139.081712,Pacific Ocean
8,40,264,France,41,New Caledonia (mainland),-20.904305,165.618042,Pacific Ocean
9,48,976,United Kingdom,50,Oeno Island,-23.922987,-130.741200,Pacific Ocean
10,55,976,United Kingdom,57,Pitcairn Island,-25.069650,-130.122970,Pacific Ocean
11,64,264,France,66,Society Islands,-17.000000,-150.000000,Pacific Ocean
12,73,264,France,75,Tuamotu Islands,-27.566667,-144.316667,Pacific Ocean
13,78,264,France,80,Wallis and Futuna Islands,-13.295911,-176.205684,Pacific Ocean
14,136,264,France,138,St. Pierre and Miquelon,46.885200,-56.315900,North America
15,165,264,France,169,French Guiana,3.933889,-53.125782,South America
16,175,976,United Kingdom,179,Anguilla,18.220554,-63.068615,Caribbean
17,177,301,Netherlands,181,Aruba,12.521110,-69.968338,Caribbean
18,182,301,Netherlands,186,Bonaire,12.178361,-68.238534,Caribbean
19,183,976,United Kingdom,187,Cayman Islands,19.313300,-81.254600,Caribbean
20,185,301,Netherlands,189,Curacao,12.169570,-68.990020,Caribbean
21,192,264,France,196,Guadeloupe (and Deps.),16.265000,-61.551000,Caribbean
22,196,264,France,200,Martinique,14.641528,-61.024174,Caribbean
23,197,976,United Kingdom,201,Montserrat,16.742498,-62.187366,Caribbean
24,202,301,Netherlands,206,Saba,17.635464,-63.232676,Caribbean
25,204,264,France,208,St. Barths,17.900513,-62.820587,Caribbean
26,206,301,Netherlands,210,St. Eustatius,17.489031,-62.973555,Caribbean
27,209,301,Netherlands,213,St. Maarten,18.041215,-63.053073,Caribbean
28,210,264,France,214,St. Martin,18.041215,-63.053073,Caribbean
29,214,976,United Kingdom,218,Turks and Caicos Islands,21.783333,-71.733333,Atlantic Ocean
...,...,...,...,...,...,...,...,...
172,849,264,France,857,Midi-Pyrenees,44.085943,1.520862,Europe
173,850,264,France,858,Nord-Pas-de-Calais,50.480115,2.793727,Europe
174,851,264,France,859,Lower Normandy,48.878847,-0.515749,Europe
175,852,264,France,860,Upper Normandy,49.524641,0.882833,Europe
176,853,264,France,861,Pays de la Loire,47.763284,-0.329969,Europe
177,854,264,France,862,Picardy,49.663613,2.528073,Europe
178,855,264,France,863,Poitou-Charentes,45.903552,-0.309184,Europe
179,856,264,France,864,Provence-Alpes-Cote d'Azur,43.935169,6.067919,Europe
180,857,264,France,865,Rhone-Alpes,45.169580,5.450282,Europe
181,883,942,Italy,891,Abruzzo,42.192012,13.728917,Europe
182,884,942,Italy,892,Aosta Valley,45.738888,7.426187,Europe
183,885,942,Italy,893,Apulia,40.792839,17.101193,Europe
184,886,942,Italy,894,Basilicata,40.643077,15.969988,Europe
185,887,942,Italy,895,Calabria,39.308771,16.346379,Europe
186,888,942,Italy,896,Campania,41.109947,14.847514,Europe
187,889,942,Italy,897,Emilia-Romagna,44.596761,11.218640,Europe
188,890,942,Italy,898,Friuli-Venezia Giulia,46.225918,13.103365,Europe
189,891,942,Italy,899,Lazio,41.655242,12.989615,Europe
190,892,942,Italy,900,Liguria,44.316792,8.396494,Europe
191,893,942,Italy,901,Lombardy,45.479067,9.845243,Europe
192,894,942,Italy,902,Marche,43.505874,12.989615,Europe
193,895,942,Italy,903,Molise,41.630815,14.493651,Europe
194,896,942,Italy,904,Piedmont,45.050000,7.520000,Europe
195,897,942,Italy,905,Trentino-Alto Adige,46.734096,11.288801,Europe
196,898,942,Italy,906,Tuscany,43.771051,11.248621,Europe
197,899,942,Italy,907,Umbria,42.938004,12.621621,Europe
198,900,942,Italy,908,Veneto,45.762333,11.690976,Europe
199,912,264,France,999,Matthew and Hunter Islands (and Walpole),-22.369823,171.438762,Pacific Ocean
200,913,976,United Kingdom,1000,Outer Hebrides,57.936588,-9.472554,Europe
201,914,976,United Kingdom,1001,St. Kilda,57.813445,-8.618827,Europe

In [11]:
merged_posts_locations = only_europe_posts.merge(europe_locations_df,how="inner", left_on="location",right_on="location_id")
merged_posts_locations

,Unnamed: 0_x,Unnamed: 0.1,user_id,post,location,tf,Unnamed: 0_y,country_id,country_name,location_id,location_name,lat,lon,region_name
0,0,36,23,"['""', 'A', 'Cruise', 'to', 'Greenland,""', 'wri...",229,0,225,258,Denmark,229,Greenland,76.706936,-42.604303,Atlantic Ocean
1,50,266,111,"['August', '2011', '--', 'I', 'flew', 'on', 'A...",229,0,225,258,Denmark,229,Greenland,76.706936,-42.604303,Atlantic Ocean
2,203,0,31221,"['Over', 'three', 'times', 'the', 'size', 'of'...",229,0,225,258,Denmark,229,Greenland,76.706936,-42.604303,Atlantic Ocean
3,279,7,2701,"['Well,', 'they', 'say', 'Iceland', 'is', 'gre...",229,4,225,258,Denmark,229,Greenland,76.706936,-42.604303,Atlantic Ocean
4,1,0,23,"['""A', 'Cruise', 'to', 'Tristan', 'da', 'Cunha...",235,4,231,976,United Kingdom,235,Tristan da Cunha,-37.105249,-12.277684,Atlantic Ocean
5,2,46,23,"['""Ascension', 'Island,""', 'written', 'for', '...",221,0,217,976,United Kingdom,221,Ascension Island,-7.946717,-14.355916,Atlantic Ocean
6,162,0,14937,"['My', 'ship,', 'the', 'MV', 'Houston,', 'brou...",221,0,217,976,United Kingdom,221,Ascension Island,-7.946717,-14.355916,Atlantic Ocean
7,3,37,23,"['""Greece\'s', 'Corinth', 'Canal,""', 'written'...",270,0,264,938,Greece,270,Greece (other),39.074208,21.824312,Europe
8,38,314,111,"['Attica', 'region', '--', 'I', 'have', 'visit...",270,0,264,938,Greece,270,Greece (other),39.074208,21.824312,Europe
9,96,0,13093,"['Flew', 'into', 'and', 'spent', 'a', 'couple'...",270,0,264,938,Greece,270,Greece (other),39.074208,21.824312,Europe
10,246,21,6671,"['We', 'arrived', 'in', 'SKG', 'airport', 'on'...",270,2,264,938,Greece,270,Greece (other),39.074208,21.824312,Europe
11,338,96,31755,"['', '']",270,0,264,938,Greece,270,Greece (other),39.074208,21.824312,Europe
12,351,12,2297,"['', '']",270,0,264,938,Greece,270,Greece (other),39.074208,21.824312,Europe
13,4,34,23,"['""Italy\'s', 'Amalfi', 'Coast,""', 'written', ...",279,1,273,942,Italy,279,Italy (mainland),-42.650000,12.816667,Europe
14,85,4,2625,"['Drove', 'through', 'Italy', 'when', 'traveli...",279,0,273,942,Italy,279,Italy (mainland),-42.650000,12.816667,Europe
15,111,2,555,"['I', 'have', 'been', 'to', 'Italy', 'three', ...",279,0,273,942,Italy,279,Italy (mainland),-42.650000,12.816667,Europe
16,204,1,6243,"['Picture', 'in', 'front', 'of', 'the', 'Vatic...",279,0,273,942,Italy,279,Italy (mainland),-42.650000,12.816667,Europe
17,5,41,23,"['""The', 'Guggenheim', 'Museum', 'Bilbao,""', '...",262,0,257,965,Spain,262,Euskadi (Basque Country),42.989625,-2.618927,Europe
18,72,581,111,"['December', '2010', '--', 'I', 'traveled', 'f...",262,0,257,965,Spain,262,Euskadi (Basque Country),42.989625,-2.618927,Europe
19,315,31,31755,"['', '']",262,0,257,965,Spain,262,Euskadi (Basque Country),42.989625,-2.618927,Europe
20,6,30,23,"['""Viewing', 'HMS', 'Bounty</EM>', 'Artifacts'...",260,2,255,976,United Kingdom,260,England,52.355518,-1.174320,Europe
21,7,184,111,"['[On', 'MTP,', 'England', 'should', 'be', 'di...",260,0,255,976,United Kingdom,260,England,52.355518,-1.174320,Europe
22,119,54,2297,"['In', 'April,', '2002,', 'my', 'new', 'bride,...",260,2,255,976,United Kingdom,260,England,52.355518,-1.174320,Europe
23,125,3,29468,"['January', '4-10,', '2016\r\nSchool', 'trip',...",260,0,255,976,United Kingdom,260,England,52.355518,-1.174320,Europe
24,169,106,6671,"['NOV2010<br>I', 'traveled', 'on', 'Air', 'New...",260,9,255,976,United Kingdom,260,England,52.355518,-1.174320,Europe
25,290,10,29123,"['', '']",260,0,255,976,United Kingdom,260,England,52.355518,-1.174320,Europe
26,326,62,31755,"['', '']",260,0,255,976,United Kingdom,260,England,52.355518,-1.174320,Europe
27,355,0,30991,"['', '']",260,0,255,976,United Kingdom,260,England,52.355518,-1.174320,Europe
28,8,25,23,"['</body>""<b>Madeira', 'Island,', 'Portugal</b...",231,1,227,305,Portugal,231,Madeira,32.760707,-16.959472,Atlantic Ocean
29,151,472,111,"['May', '2010', '--', 'I', 'stayed', 'at', 'Pe...",231,0,227,305,Portugal,231,Madeira,32.760707,-16.959472,Atlantic Ocean
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,212,437,111,"['September', '2009', '--', 'I', 'departed', '...",858,0,850,264,France,858,Nord-Pas-de-Calais,50.480115,2.793727,Europe
327,312,28,31755,"['', '']",858,0,850,264,France,858,Nord-Pas-de-Calais,50.480115,2.793727,Europe
328,213,563,111,"['September', '2009', '--', 'I', 'stopped', 'i...",746,0,738,244,Belgium,746,Baarle-Hertog (and Baarle-Nassau),51.450000,4.930000,Europe
329,214,373,111,"['September', '2009', '--', 'I', 'took', 'the'...",802,0,794,244,Belgium,802,Walloon Region,50.400501,5.133513,Europe
330,215,438,111,"['September', '2009', '--', 'I', 'traveled', '...",812,0,804,937,Germany,812,North Rhine-Westphalia,51.433237,7.661594,Europe
331,216,537,111,"['September', '2009', '--', 'I', 'visited', 'B...",897,0,889,942,Italy,897,Emilia-Romagna,44.596761,11.218640,Europe
332,258,94,6671,"['We', 'drove', 'from', 'Fano', 'Marche', 'int...",897,0,889,942,Italy,897,Emilia-Romagna,44.596761,11.218640,Europe
333,217,525,111,"['September', '2009', '--', 'I', 'visited', 'I...",278,0,272,927,Croatia,278,Istria,45.000000,14.000000,Europe
334,218,268,111,"['September', '2009', '--', 'While', 'driving'...",317,0,311,317,Slovenia,317,Slovenia,46.151241,14.995463,Europe
335,267,147,6671,"['We', 'flew', 'from', 'London', 'Gatwick', 't...",317,1,311,317,Slovenia,317,Slovenia,46.151241,14.995463,Europe
336,220,121,111,"['September', '2015', '--', 'I', 'made', 'a', ...",894,0,886,942,Italy,894,Basilicata,40.643077,15.969988,Europe
337,221,123,111,"['September', '2015', '--', 'I', 'rented', 'a'...",286,0,280,942,Italy,286,Pelagie Islands (and Pantelleria),35.676111,12.616389,Europe
338,223,122,111,"['September', '2015', '--', 'I', 'spent', 'thr...",309,0,303,942,Italy,309,Sardinia,40.120875,9.012893,Europe
339,225,92,111,"['September', '2016', '--', 'I', 'based', 'mys...",816,0,808,937,Germany,816,Saxony-Anhalt,51.950265,11.692274,Europe
340,226,90,111,"['September', '2016', '--', 'I', 'began', 'my'...",811,0,803,937,Germany,811,Mecklenburg-Vorpommern,53.612651,12.429595,Europe
341,287,3,29123,"['', '']",811,0,803,937,Germany,811,Mecklenburg-Vorpommern,53.612651,12.429595,Europe
342,227,89,111,"['September', '2016', '--', 'I', 'made', 'a', ...",799,0,791,937,Germany,799,Helgoland,54.180327,7.888944,Europe
343,228,93,111,"['September', '2016', '--', 'I', 'visited', 'L...",815,1,807,937,Germany,815,Saxony,51.104541,13.201738,Europe
344,229,94,111,"['September', '2016', '--', 'I', 'visited', 's...",818,0,810,937,Germany,818,Thuringia,51.010989,10.845346,Europe
345,230,91,111,"['September', '2016', '--', 'I', 'visited', 't...",806,0,798,937,Germany,806,Brandenburg,52.412529,12.531644,Europe
346,284,183,6671,"['While', 'we', 'were', 'in', 'Berlin', 'we', ...",806,0,798,937,Germany,806,Brandenburg,52.412529,12.531644,Europe
347,231,88,111,"['September', '2016', '--', 'While', 'travelin...",807,0,799,937,Germany,807,Bremen,53.079296,8.801694,Europe
348,232,62,111,"['September', '2017', '--', 'I', 'traveled', '...",236,0,232,935,Finland,236,Aland Islands,60.178525,19.915610,Europe
349,237,0,1,"['The', 'Chesterfield', 'Islands', 'are', 'a',...",8,0,7,264,France,8,Chesterfield Islands,-19.350000,158.666667,Pacific Ocean
350,243,5,3533,"['Tromelin', 'is', 'the', 'smallest', 'of', 't...",469,3,462,264,France,469,Tromelin Island,-15.866667,54.416667,Indian Ocean
351,260,90,6671,"['We', 'drove', 'our', 'rental', 'car', 'from'...",902,0,894,942,Italy,902,Marche,43.505874,12.989615,Europe
352,278,85,6671,"['We', 'took', 'the', 'long', 'southeast', 'ro...",907,2,899,942,Italy,907,Umbria,42.938004,12.621621,Europe
353,280,89,6671,"['When', 'we', 'departed', 'from', 'Monte', 'C...",748,0,740,942,Italy,748,Seborga,-43.830000,7.700000,Europe
354,309,16,31755,"['', '']",863,0,855,264,France,863,Poitou-Charentes,45.903552,-0.309184,Europe
355,311,27,31755,"['', '']",859,0,851,264,France,859,Lower Normandy,48.878847,-0.515749,Europe

In [12]:
users_df = pd.read_csv("raw_datawithstate.csv")
users_df

,Unnamed: 0,id,full_name,birthday,gender,location,abvv_state
0,11,5581,Joseph Krawczyk,6/1/1961,M,Alabama,AL
1,47,19193,Jacqueline Reasoner,5/11/1940,F,Alabama,AL
2,3,14242,Mike Gill,4/17/1949,M,Alabama,AL
3,5,38555,Michael Ingersoll,10/16/1971,M,Alabama,AL
4,29,2836,Carlyle Cox,5/19/1948,M,Alabama,AL
5,15,865,James Hodnett,12/13/1932,M,Alabama,AL
6,15,10410,Sal Jimenez,11/28/1948,M,Alabama,AL
7,21,39993,Elaine Marchant,5/18/1953,F,Alabama,AL
8,48,4961,Patrick Farrell,1/1/1975,M,Alabama,AL
9,5,475,Laura Huckabee,11/16/1965,F,Alabama,AL
10,35,3671,Ryan Smith,8/2/1990,M,Alabama,AL
11,49,42393,Bill Cox,6/25/1971,M,Alabama,AL
12,6,24566,Ojas Gokhale,11/11/1983,M,Alabama,AL
13,47,11980,Ian Berry,7/12/1974,M,Alabama,AL
14,2,4956,Paul Keefe,9/27/1965,M,Alabama,AL
15,10,5344,George Fox,2/21/1932,M,Alabama,AL
16,11,5610,Skyy Davis,10/2/1901,M,Alabama,AL
17,19,11008,Kim Wilkin,2/11/1970,F,Alabama,AL
18,32,18135,Ryan Madigan,11/22/1978,M,Alabama,AL
19,7,5733,Kristen Shovlin,6/1/1965,M,Alabama,AL
20,47,10709,Ryan Perkins,8/28/1977,M,Alabama,AL
21,21,12970,Crawford Thompson,4/23/1985,M,Alabama,AL
22,40,3404,Keith Turner,8/31/1969,M,Alabama,AL
23,45,7374,Scott Myers,5/13/1967,M,Alabama,AL
24,37,25668,Steve Stricker,10/8/1976,M,Alabama,AL
25,2,17609,Lola Flippo,10/3/1964,F,Alabama,AL
26,48,38858,Ken Snow,7/19/1968,M,Alabama,AL
27,9,12382,Janice Hamilton,1/19/1957,F,Alabama,AL
28,22,3947,Elizabeth Hazelrig,3/24/1988,M,Alabama,AL
29,29,6334,Olga Feingold,4/13/1985,M,Alabama,AL
...,...,...,...,...,...,...,...
8110,49,29691,Alexander Fairburn,7/17/1998,M,Wisconsin,WI
8111,11,12719,Ashley Rieder,5/12/1980,F,Wisconsin,WI
8112,27,33855,Casey Hustad,12/4/1995,F,Wisconsin,WI
8113,10,34103,Andy Matisko,12/20/1988,M,Wisconsin,WI
8114,18,5702,Tyler Lenzner,3/26/1988,M,Wisconsin,WI
8115,32,10757,Cherie Schwartz,2/2/1967,F,Wisconsin,WI
8116,21,29352,Kyle Kozak,4/18/1993,M,Wisconsin,WI
8117,44,6033,Katrina Tijerina,4/16/1991,M,Wisconsin,WI
8118,17,39356,Jackson Wilhelm,5/16/1996,M,Wisconsin,WI
8119,42,24399,Katie Van Es,1/12/1989,F,Wisconsin,WI
8120,20,20988,Elizabeth Wright,4/27/1988,F,Wisconsin,WI
8121,33,39454,Jeff Noble,5/22/1986,M,Wisconsin,WI
8122,23,19869,Joe Hiegel,7/27/1983,M,Wisconsin,WI
8123,18,19812,Brandon Trefrey,8/12/1981,M,Wisconsin,WI
8124,32,19887,Jake Schmidt,4/23/1977,M,Wisconsin,WI
8125,40,39458,Michelle Faust Koester,7/19/1972,F,Wisconsin,WI
8126,1,33698,Karl Buschhaus,1/9/1965,M,Wisconsin,WI
8127,42,11623,Eugene Schmitt,10/12/1950,M,Wisconsin,WI
8128,4,17748,Georgette Fass,4/11/1946,F,Wisconsin,WI
8129,14,40909,Marcia Richards,9/14/1945,M,Wisconsin,WI
8130,48,40108,Bernice Janssen,6/25/1923,F,Wisconsin,WI
8131,10,20340,Ben Godfrey,7/5/1986,M,Wyoming,WY
8132,5,5383,Jennifer Mercer,10/20/1974,F,Wyoming,WY
8133,10,31972,Peter Sipes,8/6/1974,M,Wyoming,WY
8134,31,16957,Devon Pike,2/4/1982,M,Wyoming,WY
8135,10,20351,Tom Godfrey,7/17/1961,M,Wyoming,WY
8136,10,11504,Mark Prokop,6/3/1979,M,Wyoming,WY
8137,35,33976,Jase Morris,2/20/1990,M,Wyoming,WY
8138,43,42350,Sue Hume,1/7/1948,F,Wyoming,WY
8139,12,23958,Alan Erickson,2/15/1954,M,Wyoming,WY

In [13]:
merged_posts_locations_user = merged_posts_locations.merge(users_df,how="inner",left_on ="user_id",right_on="id")
final_data = merged_posts_locations_user.filter(["full_name","birthday","gender","location_y","Abbr","location_name","country_name","region_name"])
final_data = final_data.rename(columns={"location_y":"state","Abbr":"state_abbr"})

In [14]:
final_data

,full_name,birthday,gender,state,location_name,country_name,region_name
0,Ted Cookson,5/29/1951,M,Florida,Greenland,Denmark,Atlantic Ocean
1,Ted Cookson,5/29/1951,M,Florida,Tristan da Cunha,United Kingdom,Atlantic Ocean
2,Ted Cookson,5/29/1951,M,Florida,Ascension Island,United Kingdom,Atlantic Ocean
3,Ted Cookson,5/29/1951,M,Florida,Greece (other),Greece,Europe
4,Ted Cookson,5/29/1951,M,Florida,Italy (mainland),Italy,Europe
5,Ted Cookson,5/29/1951,M,Florida,Euskadi (Basque Country),Spain,Europe
6,Ted Cookson,5/29/1951,M,Florida,England,United Kingdom,Europe
7,Ted Cookson,5/29/1951,M,Florida,Madeira,Portugal,Atlantic Ocean
8,Ted Cookson,5/29/1951,M,Florida,Reunion Island,France,Indian Ocean
9,Ted Cookson,5/29/1951,M,Florida,Malta,Malta,Europe
10,Ted Cookson,5/29/1951,M,Florida,Portugal,Portugal,Europe
11,Ted Cookson,5/29/1951,M,Florida,St. Helena,United Kingdom,Atlantic Ocean
12,Ted Cookson,5/29/1951,M,Florida,British Indian Ocean Territory,United Kingdom,Indian Ocean
13,Ted Cookson,5/29/1951,M,Florida,Pitcairn Island,United Kingdom,Pacific Ocean
14,Michael Novins,3/20/1964,M,New York,Greenland,Denmark,Atlantic Ocean
15,Michael Novins,3/20/1964,M,New York,Greece (other),Greece,Europe
16,Michael Novins,3/20/1964,M,New York,Euskadi (Basque Country),Spain,Europe
17,Michael Novins,3/20/1964,M,New York,England,United Kingdom,Europe
18,Michael Novins,3/20/1964,M,New York,Madeira,Portugal,Atlantic Ocean
19,Michael Novins,3/20/1964,M,New York,Reunion Island,France,Indian Ocean
20,Michael Novins,3/20/1964,M,New York,Malta,Malta,Europe
21,Michael Novins,3/20/1964,M,New York,Portugal,Portugal,Europe
22,Michael Novins,3/20/1964,M,New York,Czech Republic,Czech Republic,Europe
23,Michael Novins,3/20/1964,M,New York,Brussels-Capital Region,Belgium,Europe
24,Michael Novins,3/20/1964,M,New York,Madrid Autonomous Community,Spain,Europe
25,Michael Novins,3/20/1964,M,New York,Ile-de-France,France,Europe
26,Michael Novins,3/20/1964,M,New York,Canary Islands,Spain,Atlantic Ocean
27,Michael Novins,3/20/1964,M,New York,Netherlands,Netherlands,Europe
28,Michael Novins,3/20/1964,M,New York,Shetland Islands,United Kingdom,Europe
29,Michael Novins,3/20/1964,M,New York,Caicos Islands,United Kingdom,Atlantic Ocean
...,...,...,...,...,...,...,...
326,Donald M Parrish Jr,10/27/1944,M,Illinois,Market Reef,Finland,Europe
327,Donald M Parrish Jr,10/27/1944,M,Illinois,Tromelin Island,France,Indian Ocean
328,Charles A Veley,6/25/1965,M,California,Market Reef,Finland,Europe
329,Charles A Veley,6/25/1965,M,California,Clipperton Island,France,Pacific Ocean
330,Charles A Veley,6/25/1965,M,California,Pitcairn Island,United Kingdom,Pacific Ocean
331,Charles A Veley,6/25/1965,M,California,Rockall,United Kingdom,Europe
332,Charles A Veley,6/25/1965,M,California,Chesterfield Islands,France,Pacific Ocean
333,James Downs,7/10/1947,M,Colorado,Shetland Islands,United Kingdom,Europe
334,Richie Forslund,9/7/1988,M,California,Andalusia,Spain,Europe
335,Daniel Cooke,8/22/1992,M,Michigan,Andalusia,Spain,Europe
336,Daniel Cooke,8/22/1992,M,Michigan,Spain (Other),Spain,Europe
337,Spencer Camishion,3/22/1960,M,New Jersey,Hungary,Hungary,Europe
338,Spencer Camishion,3/22/1960,M,New Jersey,Berlin,Germany,Europe
339,Spencer Camishion,3/22/1960,M,New Jersey,Austria,Austria,Europe
340,Spencer Camishion,3/22/1960,M,New Jersey,Northern Ireland,United Kingdom,Europe
341,Spencer Camishion,3/22/1960,M,New Jersey,Slovakia,Slovakia,Europe
342,Ryan Truofreh,3/5/1982,M,California,Romania,Romania,Europe
343,Ben Kruger,4/21/1975,M,Georgia,Turks and Caicos Islands,United Kingdom,Atlantic Ocean
344,Malcolm Teasdale,10/22/1955,M,Georgia,Turks and Caicos Islands,United Kingdom,Atlantic Ocean
345,Michael Adkins,4/23/1956,M,Florida,Corsica,France,Europe
346,Michael Adkins,4/23/1956,M,Florida,Abruzzo,Italy,Europe
347,Justin Paul,5/23/1980,M,North Carolina,Croatia (other),Croatia,Europe
348,Christina Valente,9/13/1964,F,Pennsylvania,Apulia,Italy,Europe
349,Sevi Ceviche,2/29/1976,M,Louisiana,Pitcairn Island,United Kingdom,Pacific Ocean
350,Christy Story,7/7/1986,F,Oklahoma,Cayman Islands,United Kingdom,Caribbean
351,Sarah Driscoll,8/28/1978,F,Texas,Cayman Islands,United Kingdom,Caribbean
352,Jordan Hargrave,7/19/1971,M,Texas,Llivia,Spain,Europe
353,Walker Pitman,6/1/1972,M,Virginia,Luxembourg,Luxembourg,Europe
354,Karen Rychlewski,9/1/1944,F,West Virginia,Tuscany,Italy,Europe
355,Ray Heizer,8/12/1944,M,California,Busingen,Germany,Europe

In [15]:
final_data.to_csv("final_data_re.csv")