In [1]:
from bs4 import BeautifulSoup
import requests
import os
import pandas as pd
import requests
import json

In [2]:
url_1= "https://mtp.travel/api/users/"
url_2 ="/location-posts"

In [3]:
df_initial = pd.read_csv("raw_data.csv", index_col = 0)
df_initial

,id,full_name,birthday,gender,location,Abbr
0,3218,Robert A. Bonifas,6/4/1937,M,Illinois,IL
1,3533,Donald M Parrish Jr,10/27/1944,M,Illinois,IL
2,1,Charles A Veley,6/25/1965,M,California,CA
3,53,Bill Altaffer,7/17/1943,M,California,CA
4,1125,Jagannathan Srinivasaraghavan,5/13/1950,M,Illinois,IL
5,1189,Bart Hackley,10/1/1944,M,California,CA
6,8149,Frank Rainer,5/8/1943,M,California,CA
7,2770,Larry Leventhal*,5/25/1935,M,New York,NY
8,19571,Dominik Grzyb,6/23/1973,M,Wisconsin,WI
9,12131,Bob Parda,1/5/1946,M,California,CA
10,56,Alexander Gushansky,5/23/1937,M,California,CA
11,5581,Joseph Krawczyk,6/1/1961,M,Alabama,AL
12,15222,"John F. Burke, Jr.",3/25/1937,M,Ohio,OH
13,41231,Steve Newcomer,11/16/1957,M,California,CA
14,12163,Carmen Mccormick,8/29/1968,F,California,CA
15,597,Alan K. Hogenauer*,9/17/1941,M,California,CA
16,164,Robert Ippolito,12/30/1946,M,North Carolina,NC
17,32394,Michael Chalmer Dunn,3/31/1949,M,Illinois,IL
18,6329,Robert Petrik,1/17/1940,M,Florida,FL
19,98,Carolyn Broadwell,12/13/1931,F,California,CA
20,328,Christine Kloner,7/11/1963,F,New York,NY
21,32,Tim Carlson,2/9/1938,M,California,CA
22,1589,Ray Woods,2/28/1942,M,Kansas,KS
23,111,Michael Novins,3/20/1964,M,New York,NY
24,5186,Ed Reynolds,8/5/1935,M,California,CA
25,2759,Valentin Sazhin,9/23/1959,M,New York,NY
26,5544,Joel Baumbaugh,7/9/1950,M,California,CA
27,317,Lynn Stephenson,11/15/1926,F,North Carolina,NC
28,524,Steve Fuller,7/12/1948,M,Missouri,MO
29,7411,Robert Amon,9/24/1940,M,Oregon,OR
...,...,...,...,...,...,...
20,12510,Fred Bruenjes,7/27/1976,M,Missouri,MO
21,3999,Michael Swanson,4/20/1974,M,Maryland,MD
22,7688,Imran Jamali,10/28/1971,M,Arizona,AZ
23,7440,Hunter Howard,1/23/1970,M,Texas,TX
24,18692,Mitch Tucker,4/8/1966,M,Florida,FL
25,20056,David Odell,5/27/1962,M,North Carolina,NC
26,24939,Eric Gersh,7/8/1959,M,California,CA
27,10097,Tricia Harris,2/24/1955,F,Texas,TX
28,23899,Nancy Tardy,4/14/1945,F,Nevada,NV
29,30732,Jack Lowe,1/17/1944,M,Maryland,MD
30,12884,Richard Cramer,7/15/1941,M,Georgia,GA
31,31567,Richard Wessels,6/29/1939,M,Illinois,IL
32,2904,Dicky Jensen,8/29/1925,M,New York,NY
33,30389,Mosi Carmichael,2/6/2012,M,New York,NY
34,36849,Katherine Vallera,12/27/1985,F,California,CA
35,26415,Aaron Wiedmann,1/31/1982,M,Wisconsin,WI
36,30605,Tomasz Pado,2/18/1977,M,California,CA
37,16407,Mason Bond,2/22/1973,M,California,CA
38,42376,Paul Gisondi,1/16/1973,M,Pennsylvania,PA
39,34568,Richard Brooks,12/17/1971,M,New York,NY
40,5694,Brad Hajdik,5/10/1968,M,Texas,TX
41,20750,Douglas Jackson,4/14/1966,M,Illinois,IL
42,33241,Marcia Amoye,10/7/1960,F,New York,NY
43,16515,Joel Wade,11/12/1959,M,California,CA
44,10213,Richard Rice,1/26/1959,M,Ohio,OH
45,6345,William Hunt,3/15/1955,M,California,CA
46,283,Anna Rentz,10/23/1954,F,Florida,FL
47,25982,David Bury,12/5/1949,M,Michigan,MI
48,14302,Jim Pulliam,10/28/1944,M,Oklahoma,OK
49,7260,Jean Welsh,8/12/1931,F,Florida,FL

In [4]:
ids_to_scrape = df_initial["id"].tolist()
ids_to_scrape

[3218,
 3533,
 1,
 53,
 1125,
 1189,
 8149,
 2770,
 19571,
 12131,
 56,
 5581,
 15222,
 41231,
 12163,
 597,
 164,
 32394,
 6329,
 98,
 328,
 32,
 1589,
 111,
 5186,
 2759,
 5544,
 317,
 524,
 7411,
 8066,
 24615,
 23,
 2153,
 12614,
 14140,
 11033,
 1483,
 4490,
 6125,
 41540,
 31809,
 4051,
 1555,
 4390,
 29470,
 3774,
 3271,
 10387,
 24006,
 5795,
 10334,
 22735,
 1184,
 39325,
 13282,
 12159,
 28,
 10597,
 26758,
 22288,
 39419,
 6010,
 13509,
 33928,
 2411,
 14424,
 26554,
 5404,
 11553,
 19037,
 6668,
 77,
 39444,
 4308,
 12957,
 30917,
 38252,
 10694,
 20906,
 22598,
 5666,
 7017,
 10509,
 12875,
 102,
 10894,
 2524,
 23972,
 18005,
 99,
 556,
 24266,
 6274,
 23413,
 6392,
 22582,
 19193,
 10949,
 17777,
 39217,
 38979,
 35791,
 929,
 39404,
 8128,
 26611,
 10541,
 1575,
 1680,
 1599,
 7371,
 15243,
 1439,
 310,
 21286,
 10343,
 1315,
 225,
 1344,
 8227,
 1629,
 10799,
 29046,
 32623,
 35438,
 1592,
 24181,
 24306,
 26981,
 29190,
 10971,
 14866,
 26838,
 26317,
 7269,
 31278,
 41988,
 11636,
 11384,
 23584,
 32221,
 40759,
 21707,
 5324,
 29079,
 14320,
 14321,
 10186,
 20591,
 30526,
 11280,
 24022,
 11802,
 10958,
 21560,
 34466,
 20745,
 23588,
 1522,
 12255,
 22079,
 40403,
 5505,
 15013,
 26409,
 21609,
 5680,
 2087,
 35593,
 630,
 12648,
 16852,
 42021,
 41934,
 32726,
 75,
 10515,
 842,
 7262,
 11564,
 29106,
 80,
 10594,
 11588,
 10649,
 109,
 5081,
 12793,
 1343,
 12216,
 48,
 2805,
 7415,
 35526,
 26470,
 19894,
 5973,
 38293,
 800,
 11801,
 7397,
 3223,
 35362,
 38949,
 7981,
 5785,
 32527,
 12856,
 31348,
 25990,
 38680,
 26594,
 40446,
 26782,
 1435,
 10639,
 26553,
 13585,
 22737,
 6602,
 17211,
 11770,
 26877,
 24245,
 15566,
 6687,
 40517,
 4017,
 6105,
 5809,
 27462,
 10523,
 22619,
 13406,
 19596,
 1678,
 3670,
 4439,
 35932,
 12783,
 369,
 35483,
 2584,
 5156,
 10459,
 33090,
 27026,
 1579,
 35494,
 35258,
 6747,
 147,
 22606,
 12752,
 27567,
 6265,
 16896,
 12540,
 24246,
 40506,
 10769,
 31455,
 32078,
 24760,
 37338,
 36848,
 118,
 2279,
 26872,
 21628,
 10643,
 10467,
 29067,
 10549,
 12872,
 24604,
 6869,
 5483,
 10809,
 1289,
 26527,
 22298,
 7942,
 1144,
 13146,
 26449,
 1574,
 10884,
 31786,
 15234,
 20919,
 6725,
 23519,
 21976,
 24342,
 920,
 1278,
 5923,
 6915,
 10800,
 11176,
 11961,
 26088,
 1871,
 11629,
 34346,
 6300,
 10748,
 38582,
 128,
 1181,
 4760,
 7363,
 24366,
 39255,
 7455,
 39998,
 35581,
 40204,
 27065,
 27003,
 32360,
 21845,
 10121,
 489,
 11007,
 38356,
 659,
 40144,
 30997,
 11350,
 30433,
 1227,
 78,
 11001,
 115,
 339,
 23625,
 25958,
 40525,
 31571,
 26667,
 1233,
 5309,
 1190,
 29313,
 14415,
 19874,
 38647,
 4029,
 258,
 18240,
 7576,
 30443,
 20579,
 7972,
 26469,
 23562,
 22488,
 24328,
 26967,
 1147,
 40505,
 14480,
 29154,
 26598,
 10580,
 41150,
 13287,
 12777,
 368,
 34852,
 31756,
 114,
 6198,
 31835,
 41068,
 13995,
 1187,
 6850,
 4568,
 11930,
 24685,
 14221,
 7658,
 24446,
 27290,
 12049,
 1897,
 527,
 11519,
 390,
 39160,
 23090,
 6353,
 40,
 6691,
 14242,
 6992,
 25025,
 11638,
 6595,
 6849,
 854,
 39228,
 6685,
 41554,
 13507,
 17156,
 5284,
 4828,
 12929,
 21760,
 379,
 24242,
 26894,
 17657,
 20310,
 13990,
 26813,
 35432,
 29978,
 2617,
 24765,
 40278,
 39721,
 11786,
 24390,
 38691,
 1330,
 13599,
 12304,
 20318,
 14226,
 2817,
 21317,
 21420,
 10487,
 27241,
 12141,
 32082,
 27353,
 16585,
 32609,
 10814,
 2560,
 30271,
 27240,
 8209,
 38555,
 37322,
 26498,
 15558,
 23156,
 24180,
 10564,
 10613,
 12713,
 6045,
 418,
 3324,
 41347,
 1814,
 6671,
 10730,
 32105,
 474,
 6798,
 17533,
 3484,
 38983,
 38444,
 13612,
 2836,
 13506,
 4448,
 16892,
 30969,
 36258,
 11057,
 32877,
 40075,
 26546,
 26426,
 15266,
 38040,
 31060,
 6323,
 24530,
 13547,
 30206,
 2212,
 26873,
 13244,
 6666,
 11098,
 11240,
 25936,
 1506,
 36018,
 26229,
 40428,
 30690,
 12531,
 11698,
 25023,
 10061,
 26880,
 42269,
 8046,
 6037,
 1441,
 1559,
 33379,
 13188,
 11899,
 39997,
 10492,
 12594,
 5152,
 10599,
 26524,
 2485,
 22354,
 10907,
 40408,
 38475,
 10593,
 734,
 15863,
 36495,
 14484,
 11056,
 11967,
 41733,
 27136,
 19926,
 41876,
 22788,
 32272,
 7304,
 35187,
 12329,
 10444,
 14214,
 47,
 16973,
 38966,
 39243,
 24462,
 35524,
 34840,
 39881,
 10770,
 12696,
 15225,
 40201,
 6061,
 3721,
 10424,
 11445,
 20778,
 26620,
 12953,
 11546,
 21663,
 905,
 20881,
 37645,
 27560,
 12717,
 31953,
 12149,
 14395,
 30628,
 6648,
 26878,
 30691,
 5223,
 10476,
 2478,
 13090,
 27485,
 10737,
 29180,
 10184,
 26990,
 11059,
 39210,
 12785,
 22747,
 11785,
 23966,
 2454,
 30712,
 10228,
 14296,
 29623,
 8077,
 24122,
 1783,
 13242,
 1421,
 41691,
 3293,
 213,
 6698,
 24746,
 41492,
 34962,
 22235,
 750,
 26727,
 7947,
 12562,
 12853,
 17675,
 16403,
 33077,
 34679,
 26595,
 7482,
 12335,
 14262,
 24427,
 25979,
 15793,
 29251,
 12484,
 22783,
 31811,
 15012,
 24263,
 15920,
 7281,
 7638,
 23552,
 36035,
 36438,
 15935,
 452,
 11651,
 23204,
 41800,
 38635,
 40218,
 15406,
 6073,
 36371,
 41016,
 19986,
 6286,
 33602,
 10359,
 42048,
 2360,
 6240,
 40372,
 11035,
 42264,
 7546,
 8165,
 1070,
 14232,
 7925,
 7000,
 40441,
 6181,
 23564,
 4899,
 41012,
 40589,
 5409,
 27110,
 38648,
 7019,
 35022,
 8018,
 26859,
 1338,
 35161,
 32908,
 38892,
 12962,
 34360,
 15254,
 22612,
 172,
 41959,
 40131,
 27361,
 6872,
 13598,
 39230,
 6707,
 33665,
 40416,
 7037,
 12873,
 39084,
 4625,
 12621,
 1949,
 282,
 24472,
 32359,
 19136,
 6050,
 1457,
 2794,
 2010,
 7226,
 10227,
 40718,
 23079,
 17561,
 10936,
 7056,
 1946,
 23706,
 7531,
 10514,
 26057,
 18001,
 41092,
 10544,
 32193,
 13491,
 12964,
 12778,
 14459,
 2561,
 24582,
 38258,
 34401,
 11286,
 8206,
 1517,
 27623,
 11688,
 1466,
 22953,
 40463,
 13210,
 37862,
 6604,
 10463,
 39211,
 6141,
 33128,
 4896,
 1404,
 29388,
 152,
 38781,
 4682,
 7326,
 11892,
 27139,
 17624,
 5118,
 20932,
 490,
 11427,
 15927,
 7283,
 17520,
 26589,
 30833,
 32253,
 42164,
 11486,
 11238,
 2499,
 6090,
 13967,
 10247,
 16289,
 6160,
 11408,
 38993,
 522,
 32782,
 8051,
 10887,
 42022,
 31221,
 31997,
 33033,
 40152,
 42238,
 6065,
 348,
 24724,
 5214,
 32502,
 532,
 1590,
 11859,
 14865,
 4208,
 1568,
 10532,
 38747,
 3182,
 10960,
 10864,
 34302,
 17637,
 5384,
 11755,
 6904,
 427,
 4663,
 7937,
 673,
 14311,
 14359,
 41311,
 116,
 26093,
 7021,
 31450,
 29333,
 18144,
 21301,
 10131,
 737,
 26029,
 667,
 32361,
 5673,
 35138,
 7040,
 6612,
 13558,
 7346,
 14308,
 10785,
 12761,
 5703,
 10522,
 21060,
 42080,
 40168,
 10797,
 26976,
 1280,
 12379,
 14113,
 10793,
 40198,
 31893,
 35,
 4964,
 7485,
 11072,
 36549,
 10286,
 10516,
 17367,
 38324,
 31864,
 5227,
 7915,
 11235,
 2870,
 27409,
 29390,
 12724,
 10843,
 684,
 5031,
 7116,
 5120,
 23969,
 1708,
 12537,
 11116,
 34925,
 37726,
 26969,
 10346,
 10701,
 25873,
 23142,
 5856,
 6280,
 34407,
 10932,
 39594,
 34243,
 32855,
 6196,
 34719,
 37824,
 10414,
 15353,
 33092,
 24532,
 36074,
 707,
 7224,
 30343,
 15910,
 23140,
 1468,
 23022,
 41753,
 31385,
 32315,
 26786,
 14460,
 15915,
 22187,
 7561,
 42172,
 16299,
 11117,
 19289,
 16024,
 132,
 7961,
 11022,
 25149,
 37232,
 10029,
 10586,
 12847,
 6273,
 11898,
 13426,
 4566,
 14468,
 7360,
 40260,
 20061,
 14857,
 14937,
 40733,
 5616,
 1420,
 793,
 7368,
 40970,
 1491,
 10948,
 22479,
 5751,
 39797,
 7316,
 864,
 34863,
 41118,
 314,
 11936,
 41339,
 19048,
 35635,
 3542,
 40203,
 14186,
 41220,
 29637,
 1617,
 25299,
 2397,
 8161,
 40976,
 14497,
 7172,
 12911,
 22888,
 5379,
 23897,
 30858,
 25069,
 33675,
 34723,
 3461,
 18785,
 6140,
 32298,
 2511,
 10503,
 20022,
 27203,
 1642,
 24756,
 20677,
 23161,
 38592,
 41967,
 3125,
 15911,
 16706,
 32981,
 14833,
 26950,
 ...]

In [5]:
post_df_final = pd.DataFrame()
counter=0
for i in range(0, 1687):
    try:
        query_url = url_1+str(ids_to_scrape[i])+url_2
        post_response = requests.get(query_url)
        post_json = post_response.json()
        post_data =post_json["data"]
        # location_data = MTP_json["users"]["data"]["location"]
        # MTP_data
        post_df = pd.DataFrame(post_data)
        # MTP_df_final = MTP_df["first_name","last_name","birthday","location"]
        post_df_final = post_df_final.append(post_df.filter(["user_id","post","location"], axis=1))
        
    except:
        counter = counter+1
        print("something weird happened with User ID " + str(ids_to_scrape[i]) + " for the " + str(counter)+ " time")
post_df_final

something weird happened with User ID 22288 for the 1 time
something weird happened with User ID 39419 for the 2 time
something weird happened with User ID 6010 for the 3 time
something weird happened with User ID 13509 for the 4 time
something weird happened with User ID 33928 for the 5 time
something weird happened with User ID 2411 for the 6 time
something weird happened with User ID 14424 for the 7 time
something weird happened with User ID 26554 for the 8 time
something weird happened with User ID 5404 for the 9 time
something weird happened with User ID 11553 for the 10 time
something weird happened with User ID 19037 for the 11 time
something weird happened with User ID 6668 for the 12 time
something weird happened with User ID 77 for the 13 time
something weird happened with User ID 39444 for the 14 time
something weird happened with User ID 4308 for the 15 time
something weird happened with User ID 12957 for the 16 time
something weird happened with User ID 30917 for the 17 time
something weird happened with User ID 38252 for the 18 time
something weird happened with User ID 10694 for the 19 time
something weird happened with User ID 20906 for the 20 time
something weird happened with User ID 22598 for the 21 time
something weird happened with User ID 5666 for the 22 time
something weird happened with User ID 7017 for the 23 time
something weird happened with User ID 10509 for the 24 time
something weird happened with User ID 12875 for the 25 time
something weird happened with User ID 102 for the 26 time
something weird happened with User ID 10894 for the 27 time
something weird happened with User ID 2524 for the 28 time
something weird happened with User ID 23972 for the 29 time
something weird happened with User ID 18005 for the 30 time
something weird happened with User ID 99 for the 31 time
something weird happened with User ID 556 for the 32 time
something weird happened with User ID 24266 for the 33 time
something weird happened with User ID 6274 for the 34 time
something weird happened with User ID 23413 for the 35 time
something weird happened with User ID 6392 for the 36 time
something weird happened with User ID 22582 for the 37 time
something weird happened with User ID 19193 for the 38 time
something weird happened with User ID 10949 for the 39 time
something weird happened with User ID 17777 for the 40 time
something weird happened with User ID 39217 for the 41 time
something weird happened with User ID 38979 for the 42 time
something weird happened with User ID 35791 for the 43 time
something weird happened with User ID 929 for the 44 time
something weird happened with User ID 39404 for the 45 time
something weird happened with User ID 8128 for the 46 time
something weird happened with User ID 26611 for the 47 time
something weird happened with User ID 10541 for the 48 time
something weird happened with User ID 1575 for the 49 time
something weird happened with User ID 1680 for the 50 time
something weird happened with User ID 1599 for the 51 time
something weird happened with User ID 7371 for the 52 time
something weird happened with User ID 15243 for the 53 time
something weird happened with User ID 1439 for the 54 time
something weird happened with User ID 310 for the 55 time
something weird happened with User ID 21286 for the 56 time
something weird happened with User ID 10343 for the 57 time
something weird happened with User ID 1315 for the 58 time
something weird happened with User ID 225 for the 59 time
something weird happened with User ID 1344 for the 60 time
something weird happened with User ID 8227 for the 61 time
something weird happened with User ID 1629 for the 62 time
something weird happened with User ID 10799 for the 63 time
something weird happened with User ID 29046 for the 64 time
something weird happened with User ID 32623 for the 65 time
something weird happened with User ID 35438 for the 66 time
something weird happened with User ID 1592 for the 67 time
something weird happened with User ID 24181 for the 68 time
something weird happened with User ID 24306 for the 69 time
something weird happened with User ID 26981 for the 70 time
something weird happened with User ID 29190 for the 71 time
something weird happened with User ID 10971 for the 72 time
something weird happened with User ID 14866 for the 73 time
something weird happened with User ID 26838 for the 74 time
something weird happened with User ID 26317 for the 75 time
something weird happened with User ID 7269 for the 76 time
something weird happened with User ID 31278 for the 77 time
something weird happened with User ID 41988 for the 78 time
something weird happened with User ID 11636 for the 79 time
something weird happened with User ID 11384 for the 80 time
something weird happened with User ID 23584 for the 81 time
something weird happened with User ID 32221 for the 82 time
something weird happened with User ID 40759 for the 83 time
something weird happened with User ID 21707 for the 84 time
something weird happened with User ID 5324 for the 85 time
something weird happened with User ID 29079 for the 86 time
something weird happened with User ID 14320 for the 87 time
something weird happened with User ID 14321 for the 88 time
something weird happened with User ID 10186 for the 89 time
something weird happened with User ID 20591 for the 90 time
something weird happened with User ID 30526 for the 91 time
something weird happened with User ID 11280 for the 92 time
something weird happened with User ID 24022 for the 93 time
something weird happened with User ID 11802 for the 94 time
something weird happened with User ID 10958 for the 95 time
something weird happened with User ID 21560 for the 96 time
something weird happened with User ID 34466 for the 97 time
something weird happened with User ID 20745 for the 98 time
something weird happened with User ID 23588 for the 99 time
something weird happened with User ID 1522 for the 100 time
something weird happened with User ID 12255 for the 101 time
something weird happened with User ID 22079 for the 102 time
something weird happened with User ID 40403 for the 103 time
something weird happened with User ID 5505 for the 104 time
something weird happened with User ID 15013 for the 105 time
something weird happened with User ID 26409 for the 106 time
something weird happened with User ID 21609 for the 107 time
something weird happened with User ID 5680 for the 108 time
something weird happened with User ID 2087 for the 109 time
something weird happened with User ID 35593 for the 110 time
something weird happened with User ID 630 for the 111 time
something weird happened with User ID 12648 for the 112 time
something weird happened with User ID 16852 for the 113 time
something weird happened with User ID 42021 for the 114 time
something weird happened with User ID 41934 for the 115 time
something weird happened with User ID 32726 for the 116 time
something weird happened with User ID 75 for the 117 time
something weird happened with User ID 10515 for the 118 time
something weird happened with User ID 842 for the 119 time
something weird happened with User ID 7262 for the 120 time
something weird happened with User ID 11564 for the 121 time
something weird happened with User ID 29106 for the 122 time
something weird happened with User ID 80 for the 123 time
something weird happened with User ID 10594 for the 124 time
something weird happened with User ID 11588 for the 125 time
something weird happened with User ID 10649 for the 126 time
something weird happened with User ID 33090 for the 127 time
something weird happened with User ID 27026 for the 128 time
something weird happened with User ID 1579 for the 129 time
something weird happened with User ID 35494 for the 130 time
something weird happened with User ID 35258 for the 131 time
something weird happened with User ID 6747 for the 132 time
something weird happened with User ID 147 for the 133 time
something weird happened with User ID 22606 for the 134 time
something weird happened with User ID 12752 for the 135 time
something weird happened with User ID 27567 for the 136 time
something weird happened with User ID 6265 for the 137 time
something weird happened with User ID 16896 for the 138 time
something weird happened with User ID 12540 for the 139 time

something weird happened with User ID 24246 for the 140 time
something weird happened with User ID 40506 for the 141 time
something weird happened with User ID 10769 for the 142 time
something weird happened with User ID 31455 for the 143 time
something weird happened with User ID 32078 for the 144 time
something weird happened with User ID 24760 for the 145 time
something weird happened with User ID 37338 for the 146 time
something weird happened with User ID 36848 for the 147 time
something weird happened with User ID 118 for the 148 time
something weird happened with User ID 2279 for the 149 time
something weird happened with User ID 26872 for the 150 time
something weird happened with User ID 21628 for the 151 time
something weird happened with User ID 10643 for the 152 time
something weird happened with User ID 10467 for the 153 time
something weird happened with User ID 29067 for the 154 time
something weird happened with User ID 10549 for the 155 time
something weird happened with User ID 12872 for the 156 time
something weird happened with User ID 24604 for the 157 time
something weird happened with User ID 6869 for the 158 time
something weird happened with User ID 5483 for the 159 time
something weird happened with User ID 10809 for the 160 time
something weird happened with User ID 1289 for the 161 time
something weird happened with User ID 26527 for the 162 time
something weird happened with User ID 22298 for the 163 time
something weird happened with User ID 7942 for the 164 time
something weird happened with User ID 1144 for the 165 time
something weird happened with User ID 13146 for the 166 time
something weird happened with User ID 26449 for the 167 time
something weird happened with User ID 1574 for the 168 time
something weird happened with User ID 10884 for the 169 time
something weird happened with User ID 31786 for the 170 time
something weird happened with User ID 15234 for the 171 time
something weird happened with User ID 20919 for the 172 time
something weird happened with User ID 6725 for the 173 time
something weird happened with User ID 23519 for the 174 time
something weird happened with User ID 21976 for the 175 time
something weird happened with User ID 24342 for the 176 time
something weird happened with User ID 920 for the 177 time
something weird happened with User ID 1278 for the 178 time
something weird happened with User ID 5923 for the 179 time
something weird happened with User ID 6915 for the 180 time
something weird happened with User ID 10800 for the 181 time
something weird happened with User ID 11176 for the 182 time
something weird happened with User ID 11961 for the 183 time
something weird happened with User ID 26088 for the 184 time
something weird happened with User ID 1871 for the 185 time
something weird happened with User ID 11629 for the 186 time
something weird happened with User ID 34346 for the 187 time
something weird happened with User ID 6300 for the 188 time
something weird happened with User ID 10748 for the 189 time
something weird happened with User ID 38582 for the 190 time
something weird happened with User ID 128 for the 191 time
something weird happened with User ID 1181 for the 192 time
something weird happened with User ID 4760 for the 193 time
something weird happened with User ID 7363 for the 194 time
something weird happened with User ID 24366 for the 195 time
something weird happened with User ID 39255 for the 196 time
something weird happened with User ID 7455 for the 197 time
something weird happened with User ID 39998 for the 198 time
something weird happened with User ID 35581 for the 199 time
something weird happened with User ID 40204 for the 200 time
something weird happened with User ID 27065 for the 201 time
something weird happened with User ID 27003 for the 202 time
something weird happened with User ID 32360 for the 203 time
something weird happened with User ID 24685 for the 204 time
something weird happened with User ID 14221 for the 205 time
something weird happened with User ID 7658 for the 206 time
something weird happened with User ID 24446 for the 207 time
something weird happened with User ID 27290 for the 208 time
something weird happened with User ID 12049 for the 209 time
something weird happened with User ID 1897 for the 210 time
something weird happened with User ID 527 for the 211 time
something weird happened with User ID 11519 for the 212 time
something weird happened with User ID 390 for the 213 time
something weird happened with User ID 39160 for the 214 time
something weird happened with User ID 23090 for the 215 time
something weird happened with User ID 6353 for the 216 time
something weird happened with User ID 40 for the 217 time
something weird happened with User ID 6691 for the 218 time
something weird happened with User ID 14242 for the 219 time
something weird happened with User ID 6992 for the 220 time
something weird happened with User ID 25025 for the 221 time
something weird happened with User ID 11638 for the 222 time
something weird happened with User ID 6595 for the 223 time
something weird happened with User ID 6849 for the 224 time
something weird happened with User ID 854 for the 225 time
something weird happened with User ID 39228 for the 226 time
something weird happened with User ID 6685 for the 227 time
something weird happened with User ID 41554 for the 228 time
something weird happened with User ID 13507 for the 229 time
something weird happened with User ID 17156 for the 230 time
something weird happened with User ID 5284 for the 231 time
something weird happened with User ID 4828 for the 232 time
something weird happened with User ID 12929 for the 233 time
something weird happened with User ID 21760 for the 234 time
something weird happened with User ID 379 for the 235 time
something weird happened with User ID 24242 for the 236 time
something weird happened with User ID 26894 for the 237 time
something weird happened with User ID 17657 for the 238 time
something weird happened with User ID 20310 for the 239 time
something weird happened with User ID 13990 for the 240 time
something weird happened with User ID 26813 for the 241 time
something weird happened with User ID 35432 for the 242 time
something weird happened with User ID 29978 for the 243 time
something weird happened with User ID 2617 for the 244 time
something weird happened with User ID 24765 for the 245 time
something weird happened with User ID 40278 for the 246 time
something weird happened with User ID 39721 for the 247 time
something weird happened with User ID 11786 for the 248 time
something weird happened with User ID 24390 for the 249 time
something weird happened with User ID 38691 for the 250 time
something weird happened with User ID 1330 for the 251 time
something weird happened with User ID 13599 for the 252 time
something weird happened with User ID 12304 for the 253 time
something weird happened with User ID 20318 for the 254 time
something weird happened with User ID 14226 for the 255 time
something weird happened with User ID 2817 for the 256 time
something weird happened with User ID 21317 for the 257 time
something weird happened with User ID 21420 for the 258 time
something weird happened with User ID 10487 for the 259 time
something weird happened with User ID 27241 for the 260 time
something weird happened with User ID 12141 for the 261 time
something weird happened with User ID 32082 for the 262 time
something weird happened with User ID 27353 for the 263 time
something weird happened with User ID 16585 for the 264 time
something weird happened with User ID 32609 for the 265 time
something weird happened with User ID 10814 for the 266 time
something weird happened with User ID 2560 for the 267 time
something weird happened with User ID 30271 for the 268 time
something weird happened with User ID 27240 for the 269 time
something weird happened with User ID 8209 for the 270 time
something weird happened with User ID 38555 for the 271 time
something weird happened with User ID 37322 for the 272 time
something weird happened with User ID 26498 for the 273 time
something weird happened with User ID 15558 for the 274 time
something weird happened with User ID 23156 for the 275 time

something weird happened with User ID 24180 for the 276 time
something weird happened with User ID 10564 for the 277 time
something weird happened with User ID 10613 for the 278 time
something weird happened with User ID 12713 for the 279 time
something weird happened with User ID 6045 for the 280 time
something weird happened with User ID 418 for the 281 time
something weird happened with User ID 3324 for the 282 time
something weird happened with User ID 41347 for the 283 time
something weird happened with User ID 1814 for the 284 time
something weird happened with User ID 6671 for the 285 time
something weird happened with User ID 10730 for the 286 time
something weird happened with User ID 32105 for the 287 time
something weird happened with User ID 474 for the 288 time
something weird happened with User ID 6798 for the 289 time
something weird happened with User ID 17533 for the 290 time
something weird happened with User ID 3484 for the 291 time
something weird happened with User ID 38983 for the 292 time
something weird happened with User ID 38444 for the 293 time
something weird happened with User ID 13612 for the 294 time
something weird happened with User ID 2836 for the 295 time
something weird happened with User ID 13506 for the 296 time
something weird happened with User ID 4448 for the 297 time
something weird happened with User ID 16892 for the 298 time
something weird happened with User ID 30969 for the 299 time
something weird happened with User ID 36258 for the 300 time
something weird happened with User ID 11057 for the 301 time
something weird happened with User ID 32877 for the 302 time
something weird happened with User ID 40075 for the 303 time
something weird happened with User ID 26546 for the 304 time
something weird happened with User ID 26426 for the 305 time
something weird happened with User ID 15266 for the 306 time
something weird happened with User ID 38040 for the 307 time
something weird happened with User ID 31060 for the 308 time
something weird happened with User ID 6323 for the 309 time
something weird happened with User ID 39243 for the 310 time
something weird happened with User ID 24462 for the 311 time
something weird happened with User ID 35524 for the 312 time
something weird happened with User ID 34840 for the 313 time
something weird happened with User ID 39881 for the 314 time
something weird happened with User ID 10770 for the 315 time
something weird happened with User ID 12696 for the 316 time
something weird happened with User ID 15225 for the 317 time
something weird happened with User ID 40201 for the 318 time
something weird happened with User ID 6061 for the 319 time
something weird happened with User ID 3721 for the 320 time
something weird happened with User ID 10424 for the 321 time
something weird happened with User ID 11445 for the 322 time
something weird happened with User ID 20778 for the 323 time
something weird happened with User ID 26620 for the 324 time
something weird happened with User ID 12953 for the 325 time
something weird happened with User ID 11546 for the 326 time
something weird happened with User ID 21663 for the 327 time
something weird happened with User ID 905 for the 328 time
something weird happened with User ID 20881 for the 329 time
something weird happened with User ID 37645 for the 330 time
something weird happened with User ID 27560 for the 331 time
something weird happened with User ID 12717 for the 332 time
something weird happened with User ID 31953 for the 333 time
something weird happened with User ID 12149 for the 334 time
something weird happened with User ID 14395 for the 335 time
something weird happened with User ID 30628 for the 336 time
something weird happened with User ID 6648 for the 337 time
something weird happened with User ID 26878 for the 338 time
something weird happened with User ID 30691 for the 339 time
something weird happened with User ID 5223 for the 340 time
something weird happened with User ID 10476 for the 341 time
something weird happened with User ID 2478 for the 342 time
something weird happened with User ID 13090 for the 343 time
something weird happened with User ID 27485 for the 344 time
something weird happened with User ID 10737 for the 345 time
something weird happened with User ID 29180 for the 346 time
something weird happened with User ID 10184 for the 347 time
something weird happened with User ID 26990 for the 348 time
something weird happened with User ID 11059 for the 349 time
something weird happened with User ID 39210 for the 350 time
something weird happened with User ID 12785 for the 351 time
something weird happened with User ID 22747 for the 352 time
something weird happened with User ID 11785 for the 353 time
something weird happened with User ID 23966 for the 354 time
something weird happened with User ID 2454 for the 355 time
something weird happened with User ID 30712 for the 356 time
something weird happened with User ID 10228 for the 357 time
something weird happened with User ID 14296 for the 358 time
something weird happened with User ID 27523 for the 359 time
something weird happened with User ID 1297 for the 360 time
something weird happened with User ID 24797 for the 361 time
something weird happened with User ID 6005 for the 362 time

,user_id,post,location
0,3533,<p>I visited Kashmir as part of a small group ...,"{'id': 506, 'Location': 'Jammu and Kashmir (ex..."
1,3533,<p>There is a report and a five-minute slidesh...,"{'id': 137, 'Location': 'St. Paul Island, Nova..."
2,3533,<p>There is a report and a three-minute tribut...,"{'id': 51, 'Location': 'Ogasawara', 'RegionIDn..."
3,3533,"<p>With 4 other extreme travelers, I visited N...","{'id': 512, 'Location': 'Korea, North', 'Regio..."
4,3533,<p>There is a report and a five-minute slidesh...,"{'id': 296, 'Location': 'Market Reef', 'Region..."
5,3533,Tromelin is the smallest of the 4 Scattered Is...,"{'id': 469, 'Location': 'Tromelin Island', 'Re..."
6,3533,Buenos Aires is a lovely European city. My fir...,"{'id': 750, 'Location': 'Buenos Aires (City)',..."
7,3533,There is a report and a six-minute slideshow o...,"{'id': 136, 'Location': 'Sable Island', 'Regio..."
0,1,The Chesterfield Islands are a remote island g...,"{'id': 8, 'Location': 'Chesterfield Islands', ..."
1,1,"Annobon has an airport (a runway, anyway). The...","{'id': 357, 'Location': 'Annobon', 'RegionIDne..."
2,1,My friend Misha and I drove in a rented Land R...,"{'id': 558, 'Location': 'Tuva', 'RegionIDnew':..."
3,1,"On August 6, ten people left Apia, Samoa on a ...","{'id': 4, 'Location': 'Baker Island (and Howla..."
4,1,"I arrived unexpectedly to Pitcairn today, due ...","{'id': 57, 'Location': 'Pitcairn Island', 'Reg..."
5,1,Swains Island is one of the furthest outposts ...,"{'id': 680, 'Location': 'Swains Island', 'Regi..."
6,1,Rockall is probably the most difficult island ...,"{'id': 569, 'Location': 'Rockall', 'RegionIDne..."
7,1,The Coral Sea Islands Territory consists of th...,"{'id': 13, 'Location': 'Coral Sea Islands Terr..."
8,1,"Clipperton Island is a remote, uninhabited and...","{'id': 10, 'Location': 'Clipperton Island', 'R..."
9,1,"My first visit to Egypt was in April, 2000. Be...","{'id': 372, 'Location': 'Egypt (non-Sinai)', '..."
10,1,Market Reef is a tiny island shared between Sw...,"{'id': 296, 'Location': 'Market Reef', 'Region..."
11,1,"Malpelo is a dramatic, barren rock some 300 mi...","{'id': 172, 'Location': 'Malpelo Island', 'Reg..."
12,1,Roughly 300 miles off the Pacific coast of Cos...,"{'id': 155, 'Location': 'Cocos Island', 'Regio..."
13,1,Chechnya is an Autonomous Republic of Russia l...,"{'id': 486, 'Location': 'Chechnya', 'RegionIDn..."
14,1,Franz Josef Land is an Arctic archipelago of 1...,"{'id': 265, 'Location': 'Franz Josef Land', 'R..."
15,1,"Kingman Reef is a low pile of coral, roughly 4...","{'id': 26, 'Location': 'Kingman Reef', 'Region..."
16,1,"Banaba, or Ocean Island is a small, phosphorus...","{'id': 5, 'Location': 'Banaba Island', 'Region..."
0,53,Cruising The Kimberley<br><br>by Bill Altaffer...,"{'id': 3, 'Location': 'Australian Capital Terr..."
1,53,CORRECTION: Title displays article written abo...,"{'id': 513, 'Location': 'Korea, South (mainlan..."
2,53,The Kingdom of Saudi Arabia<br><br>Along with ...,"{'id': 438, 'Location': 'Saudi Arabia', 'Regio..."
3,53,From Vladivostok to Sakhalin Island — rediscov...,"{'id': 568, 'Location': 'Sakhalin Island', 'Re..."
4,53,Siberian Odyssey: Yenisei River Cruise<br>by B...,"{'id': 735, 'Location': 'Moscow (City)', 'Regi..."
...,...,...,...
1,11633,,"{'id': 273, 'Location': 'Hungary', 'RegionIDne..."
2,11633,"Spent a week in Vienna, highlighted by a visit...","{'id': 240, 'Location': 'Austria', 'RegionIDne..."
3,11633,My favorite places in South Carolina have been...,"{'id': 140, 'Location': 'South Carolina', 'Reg..."
4,11633,"For a long weekend trip, I drove from New Jers...","{'id': 147, 'Location': 'Virginia', 'RegionIDn..."
5,11633,"On my day trip to East Berlin in 1988, I visit...","{'id': 805, 'Location': 'Berlin', 'RegionIDnew..."
6,11633,Traveled by train from Vienna to this nice tow...,"{'id': 316, 'Location': 'Slovakia', 'RegionIDn..."
7,11633,Had a great time that week: hopping on small p...,"{'id': 154, 'Location': 'Belize', 'RegionIDnew..."
8,11633,I was having a great time in the D.R. all week...,"{'id': 192, 'Location': 'Dominican Republic', ..."
9,11633,Took a bus on a day trip from Reykjavik to Gri...,"{'id': 230, 'Location': 'Iceland', 'RegionIDne..."
10,11633,"This was a day trip, took a ferry from Spain t...","{'id': 393, 'Location': 'Morocco', 'RegionIDne..."
11,11633,"A must for visitors to Oslo, Norway, is the Fo...","{'id': 302, 'Location': 'Norway (mainland)', '..."
12,11633,"The marshes of Newcastle County, eastern Delaw...","{'id': 93, 'Location': 'Delaware', 'RegionIDne..."
13,11633,"General store in Queen Anne, Maryland. This w...","{'id': 107, 'Location': 'Maryland', 'RegionIDn..."
14,11633,"A beautiful Spring day in downtown St.Louis, M...","{'id': 113, 'Location': 'Missouri', 'RegionIDn..."
15,11633,"Driving from New Jersey to Missouri, I had to ...","{'id': 99, 'Location': 'Indiana', 'RegionIDnew..."
16,11633,This building was at the far end of the main s...,"{'id': 101, 'Location': 'Kansas', 'RegionIDnew..."
17,11633,"Burlington, Arkansas general store. I stopped...","{'id': 570, 'Location': 'Arkansas', 'RegionIDn..."
18,11633,"Downtown Quapaw, Oklahoma. Quaint city hall. ...","{'id': 129, 'Location': 'Oklahoma', 'RegionIDn..."
19,11633,A day trip from our house in New Jersey to Lak...,"{'id': 132, 'Location': 'Pennsylvania', 'Regio..."
20,11633,Driving back to the U.S. from the airport in T...,"{'id': 130, 'Location': 'Ontario', 'RegionIDne..."
21,11633,I took a day trip from Montreal to Mont Trembl...,"{'id': 134, 'Location': 'Quebec', 'RegionIDnew..."
22,11633,"Fort Hancock, New Jersey, USA. From the top, ...","{'id': 119, 'Location': 'New Jersey', 'RegionI..."
23,11633,"Took the Staten Island ferry to Battery Park, ...","{'id': 121, 'Location': 'New York', 'RegionIDn..."
24,11633,"Walking around Belfast, the sun would soon dis...","{'id': 276, 'Location': 'Northern Ireland', 'R..."
25,11633,"The harbor at Howth, Ireland. Small shops and ...","{'id': 275, 'Location': 'Ireland, Republic of'..."
26,11633,"Gorelovka, Republic of Georgia. Trying to tak...","{'id': 491, 'Location': 'Republic of Georgia (..."
27,11633,"Sevanavank monastery overlooking Lake Sevan, A...","{'id': 476, 'Location': 'Armenia (other)', 'Re..."
28,11633,This was right across from the main beach. Lot...,"{'id': 207, 'Location': 'San Andres and Provid..."
0,3873,"Stationed at Wheelus AB, outsite Tripoli, and ...","{'id': 387, 'Location': 'Libya', 'RegionIDnew'..."
0,10097,I have been from Alexandria to Aswan and Nubia...,"{'id': 372, 'Location': 'Egypt (non-Sinai)', '..."

In [6]:
post_df_final

,user_id,post,location
0,3533,<p>I visited Kashmir as part of a small group ...,"{'id': 506, 'Location': 'Jammu and Kashmir (ex..."
1,3533,<p>There is a report and a five-minute slidesh...,"{'id': 137, 'Location': 'St. Paul Island, Nova..."
2,3533,<p>There is a report and a three-minute tribut...,"{'id': 51, 'Location': 'Ogasawara', 'RegionIDn..."
3,3533,"<p>With 4 other extreme travelers, I visited N...","{'id': 512, 'Location': 'Korea, North', 'Regio..."
4,3533,<p>There is a report and a five-minute slidesh...,"{'id': 296, 'Location': 'Market Reef', 'Region..."
5,3533,Tromelin is the smallest of the 4 Scattered Is...,"{'id': 469, 'Location': 'Tromelin Island', 'Re..."
6,3533,Buenos Aires is a lovely European city. My fir...,"{'id': 750, 'Location': 'Buenos Aires (City)',..."
7,3533,There is a report and a six-minute slideshow o...,"{'id': 136, 'Location': 'Sable Island', 'Regio..."
0,1,The Chesterfield Islands are a remote island g...,"{'id': 8, 'Location': 'Chesterfield Islands', ..."
1,1,"Annobon has an airport (a runway, anyway). The...","{'id': 357, 'Location': 'Annobon', 'RegionIDne..."
2,1,My friend Misha and I drove in a rented Land R...,"{'id': 558, 'Location': 'Tuva', 'RegionIDnew':..."
3,1,"On August 6, ten people left Apia, Samoa on a ...","{'id': 4, 'Location': 'Baker Island (and Howla..."
4,1,"I arrived unexpectedly to Pitcairn today, due ...","{'id': 57, 'Location': 'Pitcairn Island', 'Reg..."
5,1,Swains Island is one of the furthest outposts ...,"{'id': 680, 'Location': 'Swains Island', 'Regi..."
6,1,Rockall is probably the most difficult island ...,"{'id': 569, 'Location': 'Rockall', 'RegionIDne..."
7,1,The Coral Sea Islands Territory consists of th...,"{'id': 13, 'Location': 'Coral Sea Islands Terr..."
8,1,"Clipperton Island is a remote, uninhabited and...","{'id': 10, 'Location': 'Clipperton Island', 'R..."
9,1,"My first visit to Egypt was in April, 2000. Be...","{'id': 372, 'Location': 'Egypt (non-Sinai)', '..."
10,1,Market Reef is a tiny island shared between Sw...,"{'id': 296, 'Location': 'Market Reef', 'Region..."
11,1,"Malpelo is a dramatic, barren rock some 300 mi...","{'id': 172, 'Location': 'Malpelo Island', 'Reg..."
12,1,Roughly 300 miles off the Pacific coast of Cos...,"{'id': 155, 'Location': 'Cocos Island', 'Regio..."
13,1,Chechnya is an Autonomous Republic of Russia l...,"{'id': 486, 'Location': 'Chechnya', 'RegionIDn..."
14,1,Franz Josef Land is an Arctic archipelago of 1...,"{'id': 265, 'Location': 'Franz Josef Land', 'R..."
15,1,"Kingman Reef is a low pile of coral, roughly 4...","{'id': 26, 'Location': 'Kingman Reef', 'Region..."
16,1,"Banaba, or Ocean Island is a small, phosphorus...","{'id': 5, 'Location': 'Banaba Island', 'Region..."
0,53,Cruising The Kimberley<br><br>by Bill Altaffer...,"{'id': 3, 'Location': 'Australian Capital Terr..."
1,53,CORRECTION: Title displays article written abo...,"{'id': 513, 'Location': 'Korea, South (mainlan..."
2,53,The Kingdom of Saudi Arabia<br><br>Along with ...,"{'id': 438, 'Location': 'Saudi Arabia', 'Regio..."
3,53,From Vladivostok to Sakhalin Island — rediscov...,"{'id': 568, 'Location': 'Sakhalin Island', 'Re..."
4,53,Siberian Odyssey: Yenisei River Cruise<br>by B...,"{'id': 735, 'Location': 'Moscow (City)', 'Regi..."
...,...,...,...
1,11633,,"{'id': 273, 'Location': 'Hungary', 'RegionIDne..."
2,11633,"Spent a week in Vienna, highlighted by a visit...","{'id': 240, 'Location': 'Austria', 'RegionIDne..."
3,11633,My favorite places in South Carolina have been...,"{'id': 140, 'Location': 'South Carolina', 'Reg..."
4,11633,"For a long weekend trip, I drove from New Jers...","{'id': 147, 'Location': 'Virginia', 'RegionIDn..."
5,11633,"On my day trip to East Berlin in 1988, I visit...","{'id': 805, 'Location': 'Berlin', 'RegionIDnew..."
6,11633,Traveled by train from Vienna to this nice tow...,"{'id': 316, 'Location': 'Slovakia', 'RegionIDn..."
7,11633,Had a great time that week: hopping on small p...,"{'id': 154, 'Location': 'Belize', 'RegionIDnew..."
8,11633,I was having a great time in the D.R. all week...,"{'id': 192, 'Location': 'Dominican Republic', ..."
9,11633,Took a bus on a day trip from Reykjavik to Gri...,"{'id': 230, 'Location': 'Iceland', 'RegionIDne..."
10,11633,"This was a day trip, took a ferry from Spain t...","{'id': 393, 'Location': 'Morocco', 'RegionIDne..."
11,11633,"A must for visitors to Oslo, Norway, is the Fo...","{'id': 302, 'Location': 'Norway (mainland)', '..."
12,11633,"The marshes of Newcastle County, eastern Delaw...","{'id': 93, 'Location': 'Delaware', 'RegionIDne..."
13,11633,"General store in Queen Anne, Maryland. This w...","{'id': 107, 'Location': 'Maryland', 'RegionIDn..."
14,11633,"A beautiful Spring day in downtown St.Louis, M...","{'id': 113, 'Location': 'Missouri', 'RegionIDn..."
15,11633,"Driving from New Jersey to Missouri, I had to ...","{'id': 99, 'Location': 'Indiana', 'RegionIDnew..."
16,11633,This building was at the far end of the main s...,"{'id': 101, 'Location': 'Kansas', 'RegionIDnew..."
17,11633,"Burlington, Arkansas general store. I stopped...","{'id': 570, 'Location': 'Arkansas', 'RegionIDn..."
18,11633,"Downtown Quapaw, Oklahoma. Quaint city hall. ...","{'id': 129, 'Location': 'Oklahoma', 'RegionIDn..."
19,11633,A day trip from our house in New Jersey to Lak...,"{'id': 132, 'Location': 'Pennsylvania', 'Regio..."
20,11633,Driving back to the U.S. from the airport in T...,"{'id': 130, 'Location': 'Ontario', 'RegionIDne..."
21,11633,I took a day trip from Montreal to Mont Trembl...,"{'id': 134, 'Location': 'Quebec', 'RegionIDnew..."
22,11633,"Fort Hancock, New Jersey, USA. From the top, ...","{'id': 119, 'Location': 'New Jersey', 'RegionI..."
23,11633,"Took the Staten Island ferry to Battery Park, ...","{'id': 121, 'Location': 'New York', 'RegionIDn..."
24,11633,"Walking around Belfast, the sun would soon dis...","{'id': 276, 'Location': 'Northern Ireland', 'R..."
25,11633,"The harbor at Howth, Ireland. Small shops and ...","{'id': 275, 'Location': 'Ireland, Republic of'..."
26,11633,"Gorelovka, Republic of Georgia. Trying to tak...","{'id': 491, 'Location': 'Republic of Georgia (..."
27,11633,"Sevanavank monastery overlooking Lake Sevan, A...","{'id': 476, 'Location': 'Armenia (other)', 'Re..."
28,11633,This was right across from the main beach. Lot...,"{'id': 207, 'Location': 'San Andres and Provid..."
0,3873,"Stationed at Wheelus AB, outsite Tripoli, and ...","{'id': 387, 'Location': 'Libya', 'RegionIDnew'..."
0,10097,I have been from Alexandria to Aswan and Nubia...,"{'id': 372, 'Location': 'Egypt (non-Sinai)', '..."

In [7]:
post_df_final.to_csv("locationsposts.csv")