In [5]:
from bs4 import BeautifulSoup
import requests
import os
import pandas as pd
import requests
import json
import time

In [6]:
url_1= "https://mtp.travel/api/users/"
url_2 ="/location-posts"

In [7]:
df_initial = pd.read_csv("raw_datawithstate.csv", index_col = 0)
df_initial

       id               full_name    birthday gender   location abvv_state
11   5581         Joseph Krawczyk    6/1/1961      M    Alabama         AL
47  19193     Jacqueline Reasoner   5/11/1940      F    Alabama         AL
3   14242               Mike Gill   4/17/1949      M    Alabama         AL
5   38555       Michael Ingersoll  10/16/1971      M    Alabama         AL
29   2836             Carlyle Cox   5/19/1948      M    Alabama         AL
15    865           James Hodnett  12/13/1932      M    Alabama         AL
15  10410             Sal Jimenez  11/28/1948      M    Alabama         AL
21  39993         Elaine Marchant   5/18/1953      F    Alabama         AL
48   4961         Patrick Farrell    1/1/1975      M    Alabama         AL
5     475          Laura Huckabee  11/16/1965      F    Alabama         AL
35   3671              Ryan Smith    8/2/1990      M    Alabama         AL
49  42393                Bill Cox   6/25/1971      M    Alabama         AL
6   24566            Ojas Gokhale  11/11/1983      M    Alabama         AL
47  11980               Ian Berry   7/12/1974      M    Alabama         AL
2    4956              Paul Keefe   9/27/1965      M    Alabama         AL
10   5344              George Fox   2/21/1932      M    Alabama         AL
11   5610              Skyy Davis   10/2/1901      M    Alabama         AL
19  11008              Kim Wilkin   2/11/1970      F    Alabama         AL
32  18135            Ryan Madigan  11/22/1978      M    Alabama         AL
7    5733         Kristen Shovlin    6/1/1965      M    Alabama         AL
47  10709            Ryan Perkins   8/28/1977      M    Alabama         AL
21  12970       Crawford Thompson   4/23/1985      M    Alabama         AL
40   3404            Keith Turner   8/31/1969      M    Alabama         AL
45   7374             Scott Myers   5/13/1967      M    Alabama         AL
37  25668          Steve Stricker   10/8/1976      M    Alabama         AL
2   17609             Lola Flippo   10/3/1964      F    Alabama         AL
48  38858                Ken Snow   7/19/1968      M    Alabama         AL
9   12382         Janice Hamilton   1/19/1957      F    Alabama         AL
22   3947      Elizabeth Hazelrig   3/24/1988      M    Alabama         AL
29   6334           Olga Feingold   4/13/1985      M    Alabama         AL
..    ...                     ...         ...    ...        ...        ...
49  29691      Alexander Fairburn   7/17/1998      M  Wisconsin         WI
11  12719           Ashley Rieder   5/12/1980      F  Wisconsin         WI
27  33855            Casey Hustad   12/4/1995      F  Wisconsin         WI
10  34103            Andy Matisko  12/20/1988      M  Wisconsin         WI
18   5702           Tyler Lenzner   3/26/1988      M  Wisconsin         WI
32  10757         Cherie Schwartz    2/2/1967      F  Wisconsin         WI
21  29352              Kyle Kozak   4/18/1993      M  Wisconsin         WI
44   6033        Katrina Tijerina   4/16/1991      M  Wisconsin         WI
17  39356         Jackson Wilhelm   5/16/1996      M  Wisconsin         WI
42  24399            Katie Van Es   1/12/1989      F  Wisconsin         WI
20  20988        Elizabeth Wright   4/27/1988      F  Wisconsin         WI
33  39454              Jeff Noble   5/22/1986      M  Wisconsin         WI
23  19869              Joe Hiegel   7/27/1983      M  Wisconsin         WI
18  19812         Brandon Trefrey   8/12/1981      M  Wisconsin         WI
32  19887            Jake Schmidt   4/23/1977      M  Wisconsin         WI
40  39458  Michelle Faust Koester   7/19/1972      F  Wisconsin         WI
1   33698          Karl Buschhaus    1/9/1965      M  Wisconsin         WI
42  11623          Eugene Schmitt  10/12/1950      M  Wisconsin         WI
4   17748          Georgette Fass   4/11/1946      F  Wisconsin         WI
14  40909         Marcia Richards   9/14/1945      M  Wisconsin         WI
48  40108         Bernice Janssen   6/25/1923      F  Wisconsin         WI
10  20340             Ben Godfrey    7/5/1986      M    Wyoming         WY
5    5383         Jennifer Mercer  10/20/1974      F    Wyoming         WY
10  31972             Peter Sipes    8/6/1974      M    Wyoming         WY
31  16957              Devon Pike    2/4/1982      M    Wyoming         WY
10  20351             Tom Godfrey   7/17/1961      M    Wyoming         WY
10  11504             Mark Prokop    6/3/1979      M    Wyoming         WY
35  33976             Jase Morris   2/20/1990      M    Wyoming         WY
43  42350                Sue Hume    1/7/1948      F    Wyoming         WY
12  23958           Alan Erickson   2/15/1954      M    Wyoming         WY

[8140 rows x 6 columns]

In [8]:
ids_to_scrape = df_initial["id"].tolist()
ids_to_scrape

[5581,
 19193,
 14242,
 38555,
 2836,
 865,
 10410,
 39993,
 4961,
 475,
 3671,
 42393,
 24566,
 11980,
 4956,
 5344,
 5610,
 11008,
 18135,
 5733,
 10709,
 12970,
 3404,
 7374,
 25668,
 17609,
 38858,
 12382,
 3947,
 6334,
 18751,
 39969,
 12443,
 31214,
 31772,
 5411,
 13448,
 41212,
 25832,
 20242,
 11073,
 39308,
 25717,
 38532,
 17241,
 6241,
 4753,
 5818,
 36167,
 6157,
 39254,
 38041,
 21858,
 21868,
 25640,
 19949,
 6115,
 22387,
 5547,
 5371,
 14432,
 27199,
 5517,
 5246,
 40201,
 17718,
 12498,
 32218,
 41306,
 21191,
 10530,
 5412,
 40431,
 19033,
 7791,
 12310,
 29196,
 39526,
 12965,
 12350,
 19811,
 31409,
 10894,
 23588,
 3223,
 10639,
 40517,
 35494,
 7363,
 24685,
 17156,
 32082,
 42269,
 12594,
 41733,
 38966,
 15225,
 37645,
 10476,
 12335,
 15793,
 490,
 30833,
 6160,
 24724,
 5214,
 11755,
 10346,
 16024,
 41118,
 23897,
 20022,
 24756,
 5582,
 3254,
 16566,
 37371,
 39402,
 22040,
 13044,
 40697,
 7839,
 144,
 36027,
 2504,
 1297,
 16977,
 4907,
 7688,
 16556,
 11862,
 39451,
 4615,
 30331,
 5771,
 2612,
 24854,
 13579,
 5986,
 8145,
 29150,
 21148,
 25489,
 5813,
 7169,
 6051,
 11074,
 32716,
 5605,
 6146,
 10499,
 42236,
 25750,
 32312,
 25170,
 16893,
 31741,
 5867,
 33910,
 10846,
 36145,
 12776,
 41654,
 5882,
 15834,
 5967,
 25214,
 6258,
 10895,
 25191,
 10323,
 7159,
 24133,
 41405,
 11895,
 10222,
 6178,
 5394,
 1099,
 15832,
 39876,
 22936,
 12680,
 29397,
 5908,
 25333,
 17709,
 5444,
 14390,
 41298,
 4917,
 5320,
 12663,
 10483,
 7091,
 12056,
 5730,
 15021,
 25872,
 7202,
 5576,
 12190,
 15830,
 5434,
 6754,
 31053,
 16331,
 31646,
 5450,
 14061,
 22200,
 11004,
 5448,
 42356,
 5478,
 34146,
 10289,
 33644,
 33888,
 5580,
 18367,
 24167,
 36866,
 17406,
 18557,
 20674,
 20074,
 35789,
 41361,
 16332,
 16363,
 39343,
 5445,
 5420,
 12440,
 21469,
 31017,
 21840,
 29171,
 15905,
 39593,
 19618,
 17117,
 35357,
 21228,
 7658,
 31811,
 6604,
 19289,
 12454,
 17665,
 22776,
 5499,
 11490,
 39365,
 26067,
 30684,
 6485,
 12577,
 8197,
 32983,
 5717,
 16195,
 5790,
 11559,
 22075,
 29275,
 17063,
 4747,
 20057,
 24501,
 25994,
 1,
 53,
 1189,
 8149,
 12131,
 56,
 41231,
 12163,
 597,
 98,
 32,
 5186,
 5544,
 12614,
 1483,
 4051,
 29470,
 28,
 39419,
 11553,
 77,
 12957,
 38252,
 10694,
 20906,
 10509,
 99,
 38979,
 1575,
 7371,
 310,
 1315,
 1344,
 1629,
 10799,
 41988,
 23584,
 1522,
 12255,
 2087,
 41934,
 32726,
 10515,
 11564,
 10594,
 1343,
 48,
 35526,
 26470,
 5973,
 35362,
 25990,
 26553,
 6602,
 15566,
 4017,
 33090,
 6747,
 22606,
 27567,
 40506,
 36848,
 118,
 2279,
 26872,
 1289,
 26527,
 22298,
 1144,
 26449,
 1574,
 15234,
 6725,
 11176,
 10748,
 4760,
 24366,
 40204,
 21845,
 38356,
 11350,
 115,
 339,
 23625,
 1233,
 7576,
 23562,
 26967,
 1147,
 40505,
 12777,
 368,
 31756,
 114,
 31835,
 41068,
 13995,
 12049,
 11519,
 39160,
 40,
 11638,
 5284,
 21760,
 2617,
 11786,
 1330,
 2817,
 10487,
 12141,
 16585,
 32609,
 2560,
 37322,
 26498,
 23156,
 418,
 41347,
 1814,
 6671,
 32105,
 17533,
 38983,
 4448,
 16892,
 11057,
 26546,
 13244,
 11240,
 25023,
 1441,
 33379,
 10599,
 2485,
 10593,
 734,
 15863,
 11967,
 22788,
 7304,
 39243,
 47,
 12696,
 6061,
 3721,
 12953,
 20881,
 31953,
 12149,
 14395,
 30691,
 5223,
 10184,
 26990,
 29623,
 22747,
 13242,
 1421,
 24746,
 12562,
 12853,
 33077,
 34679,
 25979,
 15935,
 11651,
 6286,
 33602,
 1070,
 23564,
 1338,
 12962,
 40416,
 4625,
 1949,
 282,
 2794,
 10936,
 23706,
 7531,
 12964,
 11688,
 22953,
 33128,
 1404,
 5118,
 20932,
 7283,
 17520,
 11486,
 11238,
 2499,
 6090,
 11408,
 31221,
 31997,
 33033,
 32502,
 38747,
 427,
 673,
 14359,
 116,
 31450,
 18144,
 32361,
 6612,
 40198,
 35,
 5227,
 2870,
 12724,
 5031,
 7116,
 23969,
 34407,
 36074,
 23140,
 26786,
 25149,
 12847,
 6273,
 11898,
 4566,
 1420,
 10948,
 5751,
 7316,
 41339,
 3542,
 40203,
 1617,
 14497,
 25069,
 33675,
 1642,
 20677,
 35184,
 21292,
 16090,
 30191,
 34578,
 10945,
 10014,
 935,
 32647,
 23965,
 30210,
 31013,
 35256,
 6108,
 674,
 38480,
 6943,
 38575,
 21044,
 41755,
 12786,
 7191,
 21856,
 12930,
 15148,
 11234,
 14705,
 40282,
 6606,
 1354,
 1481,
 14055,
 7834,
 17787,
 12062,
 16066,
 32395,
 34655,
 33150,
 3681,
 40609,
 10591,
 11690,
 1553,
 1273,
 30978,
 17668,
 6731,
 41335,
 34313,
 18774,
 774,
 24193,
 12700,
 26379,
 40606,
 7583,
 27018,
 11383,
 1872,
 8142,
 13615,
 4780,
 1324,
 34075,
 6766,
 17844,
 5640,
 26092,
 17071,
 20759,
 11197,
 41277,
 6184,
 16094,
 5736,
 21497,
 14078,
 1117,
 24919,
 10451,
 38751,
 14146,
 3310,
 2268,
 39009,
 22995,
 14319,
 41848,
 171,
 4942,
 1012,
 19971,
 4821,
 13213,
 36253,
 22916,
 10166,
 40891,
 36354,
 25719,
 10713,
 10863,
 18086,
 13980,
 5221,
 24182,
 3873,
 10013,
 10777,
 7420,
 1213,
 25284,
 19463,
 15909,
 24939,
 36849,
 30605,
 16407,
 16515,
 6345,
 42208,
 1257,
 11836,
 6130,
 41812,
 2265,
 23683,
 15575,
 7342,
 12129,
 36937,
 11196,
 38053,
 41488,
 6151,
 23594,
 10567,
 24241,
 6584,
 6678,
 86,
 677,
 11866,
 11335,
 12980,
 35655,
 5861,
 11731,
 35371,
 6093,
 33351,
 2267,
 12852,
 11851,
 37390,
 309,
 41413,
 11077,
 5348,
 20041,
 39571,
 12367,
 40402,
 32728,
 3432,
 5514,
 5466,
 38819,
 38760,
 34752,
 7450,
 35727,
 7971,
 19694,
 7146,
 15853,
 26974,
 40450,
 1402,
 10003,
 4649,
 39954,
 12958,
 17865,
 7877,
 40988,
 6153,
 3168,
 23025,
 6187,
 13349,
 7580,
 962,
 5637,
 10973,
 5638,
 23650,
 87,
 12782,
 12628,
 24183,
 940,
 2580,
 6710,
 14051,
 14057,
 23237,
 39462,
 10271,
 7077,
 14449,
 5267,
 10927,
 25232,
 30695,
 39335,
 4820,
 26145,
 11295,
 26529,
 12937,
 6154,
 36104,
 21676,
 39673,
 12836,
 37271,
 5210,
 22333,
 20004,
 2057,
 16134,
 38049,
 31728,
 33452,
 967,
 10111,
 39351,
 7211,
 26234,
 4983,
 15556,
 31480,
 10517,
 22537,
 2625,
 19620,
 41608,
 11255,
 40764,
 31656,
 8052,
 36546,
 10122,
 10464,
 6877,
 4958,
 16766,
 35898,
 14728,
 34388,
 6773,
 17504,
 1538,
 6099,
 29593,
 39363,
 15315,
 14150,
 40289,
 17239,
 4426,
 38962,
 2430,
 5162,
 11878,
 24351,
 6661,
 21253,
 1820,
 1569,
 31283,
 35180,
 11658,
 40859,
 5887,
 17094,
 5903,
 25974,
 41858,
 40250,
 12960,
 38368,
 24343,
 36156,
 33151,
 8150,
 10506,
 18152,
 6792,
 19715,
 15257,
 664,
 31381,
 7474,
 1670,
 11180,
 6920,
 11954,
 10911,
 5069,
 344,
 7539,
 17208,
 6080,
 36079,
 377,
 5623,
 30604,
 27060,
 24821,
 41307,
 38604,
 2614,
 5040,
 5789,
 16675,
 18585,
 34020,
 13006,
 6254,
 1859,
 7824,
 31944,
 12944,
 37306,
 12631,
 14128,
 21770,
 35591,
 25879,
 36518,
 39855,
 13934,
 1347,
 7758,
 11236,
 31849,
 932,
 13259,
 39049,
 13389,
 10862,
 10353,
 13928,
 6928,
 10132,
 39903,
 39277,
 3843,
 41124,
 11671,
 27127,
 5915,
 39552,
 35961,
 121,
 27080,
 11813,
 27580,
 27147,
 22166,
 10798,
 3883,
 10808,
 26574,
 24628,
 4838,
 1387,
 42062,
 17826,
 10422,
 161,
 7895,
 6127,
 26626,
 41228,
 5846,
 4877,
 5525,
 41943,
 7734,
 16056,
 12011,
 29168,
 14385,
 24607,
 13215,
 22992,
 21547,
 5766,
 14656,
 7002,
 6824,
 24801,
 39808,
 34100,
 7240,
 39584,
 10562,
 5476,
 24853,
 916,
 11084,
 10384,
 29049,
 26831,
 12298,
 40887,
 11560,
 4688,
 40031,
 39485,
 24525,
 41281,
 8188,
 15966,
 12635,
 41278,
 5354,
 1958,
 3478,
 26222,
 1947,
 40949,
 5998,
 38837,
 6357,
 22667,
 6672,
 13776,
 26036,
 11039,
 3875,
 13267,
 17099,
 41168,
 24668,
 31392,
 10570,
 7591,
 4968,
 34607,
 12560,
 25910,
 26488,
 32192,
 5578,
 5681,
 38388,
 6534,
 42231,
 14419,
 40337,
 20618,
 36259,
 11363,
 12273,
 11867,
 10524,
 4392,
 22319,
 808,
 8106,
 408,
 34860,
 10939,
 5414,
 41354,
 40219,
 41948,
 22469,
 5271,
 7681,
 6039,
 6742,
 1286,
 34086,
 10510,
 35839,
 ...]

In [ ]:
post_df_final = pd.DataFrame()
counter=0
for j in range(0, 1687, 59):
    for i in range(j, j+59):
        try:
            query_url = url_1+str(ids_to_scrape[i])+url_2
            post_response = requests.get(query_url)
            post_json = post_response.json()
            post_data =post_json["data"]
            # location_data = MTP_json["users"]["data"]["location"]
            # MTP_data
            post_df = pd.DataFrame(post_data)
            # MTP_df_final = MTP_df["first_name","last_name","birthday","location"]
            post_df_final = post_df_final.append(post_df.filter(["user_id","post","location"], axis=1))
            print("we're on user # " + str(i))
        except:
            counter = counter+1
            print("something weird happened with User ID " + str(ids_to_scrape[i]) + " for the " + str(i)+ " time, on the " + str(j)+" loop")
            time.sleep(20)
post_df_final

we're on user #
we're on user #
we're on user #
we're on user #
we're on user #
we're on user #
we're on user #
we're on user #
we're on user #
we're on user #
we're on user #
we're on user #
we're on user #
we're on user #
we're on user #
we're on user #
we're on user #
we're on user #
we're on user #
we're on user #
something weird happened with User ID 10709 for the 20 time, on the 0 loop

In [6]:
post_df_final

,user_id,post,location
0,3533,<p>I visited Kashmir as part of a small group ...,"{'id': 506, 'Location': 'Jammu and Kashmir (ex..."
1,3533,<p>There is a report and a five-minute slidesh...,"{'id': 137, 'Location': 'St. Paul Island, Nova..."
2,3533,<p>There is a report and a three-minute tribut...,"{'id': 51, 'Location': 'Ogasawara', 'RegionIDn..."
3,3533,"<p>With 4 other extreme travelers, I visited N...","{'id': 512, 'Location': 'Korea, North', 'Regio..."
4,3533,<p>There is a report and a five-minute slidesh...,"{'id': 296, 'Location': 'Market Reef', 'Region..."
5,3533,Tromelin is the smallest of the 4 Scattered Is...,"{'id': 469, 'Location': 'Tromelin Island', 'Re..."
6,3533,Buenos Aires is a lovely European city. My fir...,"{'id': 750, 'Location': 'Buenos Aires (City)',..."
7,3533,There is a report and a six-minute slideshow o...,"{'id': 136, 'Location': 'Sable Island', 'Regio..."
0,1,The Chesterfield Islands are a remote island g...,"{'id': 8, 'Location': 'Chesterfield Islands', ..."
1,1,"Annobon has an airport (a runway, anyway). The...","{'id': 357, 'Location': 'Annobon', 'RegionIDne..."
2,1,My friend Misha and I drove in a rented Land R...,"{'id': 558, 'Location': 'Tuva', 'RegionIDnew':..."
3,1,"On August 6, ten people left Apia, Samoa on a ...","{'id': 4, 'Location': 'Baker Island (and Howla..."
4,1,"I arrived unexpectedly to Pitcairn today, due ...","{'id': 57, 'Location': 'Pitcairn Island', 'Reg..."
5,1,Swains Island is one of the furthest outposts ...,"{'id': 680, 'Location': 'Swains Island', 'Regi..."
6,1,Rockall is probably the most difficult island ...,"{'id': 569, 'Location': 'Rockall', 'RegionIDne..."
7,1,The Coral Sea Islands Territory consists of th...,"{'id': 13, 'Location': 'Coral Sea Islands Terr..."
8,1,"Clipperton Island is a remote, uninhabited and...","{'id': 10, 'Location': 'Clipperton Island', 'R..."
9,1,"My first visit to Egypt was in April, 2000. Be...","{'id': 372, 'Location': 'Egypt (non-Sinai)', '..."
10,1,Market Reef is a tiny island shared between Sw...,"{'id': 296, 'Location': 'Market Reef', 'Region..."
11,1,"Malpelo is a dramatic, barren rock some 300 mi...","{'id': 172, 'Location': 'Malpelo Island', 'Reg..."
12,1,Roughly 300 miles off the Pacific coast of Cos...,"{'id': 155, 'Location': 'Cocos Island', 'Regio..."
13,1,Chechnya is an Autonomous Republic of Russia l...,"{'id': 486, 'Location': 'Chechnya', 'RegionIDn..."
14,1,Franz Josef Land is an Arctic archipelago of 1...,"{'id': 265, 'Location': 'Franz Josef Land', 'R..."
15,1,"Kingman Reef is a low pile of coral, roughly 4...","{'id': 26, 'Location': 'Kingman Reef', 'Region..."
16,1,"Banaba, or Ocean Island is a small, phosphorus...","{'id': 5, 'Location': 'Banaba Island', 'Region..."
0,53,Cruising The Kimberley<br><br>by Bill Altaffer...,"{'id': 3, 'Location': 'Australian Capital Terr..."
1,53,CORRECTION: Title displays article written abo...,"{'id': 513, 'Location': 'Korea, South (mainlan..."
2,53,The Kingdom of Saudi Arabia<br><br>Along with ...,"{'id': 438, 'Location': 'Saudi Arabia', 'Regio..."
3,53,From Vladivostok to Sakhalin Island — rediscov...,"{'id': 568, 'Location': 'Sakhalin Island', 'Re..."
4,53,Siberian Odyssey: Yenisei River Cruise<br>by B...,"{'id': 735, 'Location': 'Moscow (City)', 'Regi..."
...,...,...,...
1,11633,,"{'id': 273, 'Location': 'Hungary', 'RegionIDne..."
2,11633,"Spent a week in Vienna, highlighted by a visit...","{'id': 240, 'Location': 'Austria', 'RegionIDne..."
3,11633,My favorite places in South Carolina have been...,"{'id': 140, 'Location': 'South Carolina', 'Reg..."
4,11633,"For a long weekend trip, I drove from New Jers...","{'id': 147, 'Location': 'Virginia', 'RegionIDn..."
5,11633,"On my day trip to East Berlin in 1988, I visit...","{'id': 805, 'Location': 'Berlin', 'RegionIDnew..."
6,11633,Traveled by train from Vienna to this nice tow...,"{'id': 316, 'Location': 'Slovakia', 'RegionIDn..."
7,11633,Had a great time that week: hopping on small p...,"{'id': 154, 'Location': 'Belize', 'RegionIDnew..."
8,11633,I was having a great time in the D.R. all week...,"{'id': 192, 'Location': 'Dominican Republic', ..."
9,11633,Took a bus on a day trip from Reykjavik to Gri...,"{'id': 230, 'Location': 'Iceland', 'RegionIDne..."
10,11633,"This was a day trip, took a ferry from Spain t...","{'id': 393, 'Location': 'Morocco', 'RegionIDne..."
11,11633,"A must for visitors to Oslo, Norway, is the Fo...","{'id': 302, 'Location': 'Norway (mainland)', '..."
12,11633,"The marshes of Newcastle County, eastern Delaw...","{'id': 93, 'Location': 'Delaware', 'RegionIDne..."
13,11633,"General store in Queen Anne, Maryland. This w...","{'id': 107, 'Location': 'Maryland', 'RegionIDn..."
14,11633,"A beautiful Spring day in downtown St.Louis, M...","{'id': 113, 'Location': 'Missouri', 'RegionIDn..."
15,11633,"Driving from New Jersey to Missouri, I had to ...","{'id': 99, 'Location': 'Indiana', 'RegionIDnew..."
16,11633,This building was at the far end of the main s...,"{'id': 101, 'Location': 'Kansas', 'RegionIDnew..."
17,11633,"Burlington, Arkansas general store. I stopped...","{'id': 570, 'Location': 'Arkansas', 'RegionIDn..."
18,11633,"Downtown Quapaw, Oklahoma. Quaint city hall. ...","{'id': 129, 'Location': 'Oklahoma', 'RegionIDn..."
19,11633,A day trip from our house in New Jersey to Lak...,"{'id': 132, 'Location': 'Pennsylvania', 'Regio..."
20,11633,Driving back to the U.S. from the airport in T...,"{'id': 130, 'Location': 'Ontario', 'RegionIDne..."
21,11633,I took a day trip from Montreal to Mont Trembl...,"{'id': 134, 'Location': 'Quebec', 'RegionIDnew..."
22,11633,"Fort Hancock, New Jersey, USA. From the top, ...","{'id': 119, 'Location': 'New Jersey', 'RegionI..."
23,11633,"Took the Staten Island ferry to Battery Park, ...","{'id': 121, 'Location': 'New York', 'RegionIDn..."
24,11633,"Walking around Belfast, the sun would soon dis...","{'id': 276, 'Location': 'Northern Ireland', 'R..."
25,11633,"The harbor at Howth, Ireland. Small shops and ...","{'id': 275, 'Location': 'Ireland, Republic of'..."
26,11633,"Gorelovka, Republic of Georgia. Trying to tak...","{'id': 491, 'Location': 'Republic of Georgia (..."
27,11633,"Sevanavank monastery overlooking Lake Sevan, A...","{'id': 476, 'Location': 'Armenia (other)', 'Re..."
28,11633,This was right across from the main beach. Lot...,"{'id': 207, 'Location': 'San Andres and Provid..."
0,3873,"Stationed at Wheelus AB, outsite Tripoli, and ...","{'id': 387, 'Location': 'Libya', 'RegionIDnew'..."
0,10097,I have been from Alexandria to Aswan and Nubia...,"{'id': 372, 'Location': 'Egypt (non-Sinai)', '..."

In [7]:
post_df_final.to_csv("locationsposts.csv")